.omnidb__theme-bg--menu-primary {
  background-color: #f8f9fa;
}

@media (min-width: 1440px) {
  /* .omnidb__utilities-menu__branding {
    background-image: url('/static/OmniDB_app/images/utilities-menu-branding.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 40px;
    width: 160px;
  }
  .omnidb__tab-menu--primary .omnidb__tab-menu__link-icon {
    margin-right: 3px;
  }
  .omnidb__tab-menu--secondary .omnidb__tab-menu__link-icon {
    margin-right: 3px;
  }

  /* MAIN */
  /* .omnidb__main__tablist-toggler {
    display: none;
  } */
  .omnidb__rounded--lg {
    border-radius: 18px;
  }

  .omnidb__utilities-menu {
    padding: 0.25rem 0.125rem;
    position: fixed;
    right: 2px;
    top: 2px;
    z-index: 1001;
  }
  .omnidb__utilities-menu .omnidb__menu__btn.nav-link {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    width: 0px;
    transition: 0.35s;
  }
  .omnidb__utilities-menu:hover .omnidb__menu__btn.nav-link {
    width: 27px;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }
  .omnidb__utilities-menu .omnidb__menu__btn-text {
    padding: 0px;
  }

  .omnidb__menu__btn {
    align-items: center;
    border-radius: 100%;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    height: 27px;
    width: 27px;
    overflow: hidden;
  }

  /* MAIN */
  .omnidb__main__tablist-toggler {
    align-items: center;
    color: #434f66;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 5000;
    height: 36px;
    text-align: center;
    border: none;
    width: 36px;
  }

  /* TAB MENU */
  .omnidb__tab-menu {
    /* position: fixed;
    bottom: 0px;
    height: 100%;
    left: 0px;
    top: 0px; */
  }
  .omnidb__tab-menu .omnidb__tab-menu__link {
    position: relative;
  }
  .omnidb__tab-menu .omnidb__tab-menu__link-close {
    opacity: 0;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s;
  }
  .omnidb__tab-menu .omnidb__tab-menu__link-content {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: flex-start;
  }

  /* TAB MENU -- PRIMARY */
  .omnidb__tab-menu--primary {
    bottom: 0px;
    height: 100%;
    left: 0px;
    overflow: hidden;
    padding: 0px;
    position: fixed;
    top: 0px;
    z-index: 2100;
  }
  .omnidb__tab-menu--primary .nav-tabs {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-flex-start;
  }
  .omnidb__tab-menu--primary .nav-tabs .nav-item {
    border: none;
    margin-bottom: 3px;
    margin-top: 3px;
    padding: 3px;
  }
  .omnidb__tab-menu.omnidb__tab-menu--primary:hover .omnidb__tab-menu__link-close {
    opacity: 1;
  }
  .omnidb__tab-menu--primary .omnidb__tab-menu__link-icon {
    margin-right: 3px;
  }
  .omnidb__tab-menu--primary .omnidb__tab-menu__link-name {
    display: inline-block;
    width: 0px;
    overflow: hidden;
    transition: 0.35s;
    white-space: nowrap;
  }

  .omnidb__tab-menu.omnidb__tab-menu--primary:hover .omnidb__tab-menu__link-name {
    width: 160px;
  }

  /* TAB MENU -- SECONDARY */
  .omnidb__tab-menu--secondary {
    padding-top: 3px;
    padding-right: 80px;
  }
  .omnidb__tab-menu--secondary .omnidb__tab-menu__link-name {
    padding-right: 10px;
  }
  .omnidb__tab-menu--secondary .omnidb__tab-menu__link-icon {
    margin-right: 3px;
  }
  .omnidb__tab-menu.omnidb__tab-menu--secondary .omnidb__tab-menu__link:hover .omnidb__tab-menu__link-close {
    opacity: 1;
  }

  /* TAB-CONTENT */
  .omnidb__tab-content--primary {
    border-left: 36px solid #f8f9fa;
  }
}

@media (min-width: 1280px) and (max-width: 1439px) {
  .omnidb__rounded--lg {
    border-radius: 18px;
  }

  .omnidb__utilities-menu {
    padding: 0.25rem 0.125rem;
    position: fixed;
    right: 2px;
    top: 2px;
    z-index: 1001;
  }
  .omnidb__utilities-menu .omnidb__menu__btn.nav-link {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    width: 0px;
    transition: 0.35s;
  }
  .omnidb__utilities-menu:hover .omnidb__menu__btn.nav-link {
    width: 27px;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }
  .omnidb__utilities-menu .omnidb__menu__btn-text {
    padding: 0px;
  }

  .omnidb__menu__btn {
    align-items: center;
    border-radius: 100%;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    height: 27px;
    width: 27px;
    overflow: hidden;
  }

  /* MAIN */
  .omnidb__main__tablist-toggler {
    align-items: center;
    color: #434f66;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 5000;
    height: 36px;
    text-align: center;
    border: none;
    width: 36px;
  }

  /* TAB MENU */
  .omnidb__tab-menu {
    /* position: fixed;
    bottom: 0px;
    height: 100%;
    left: 0px;
    top: 0px; */
  }
  .omnidb__tab-menu .omnidb__tab-menu__link {
    position: relative;
  }
  .omnidb__tab-menu .omnidb__tab-menu__link-close {
    opacity: 0;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s;
  }
  .omnidb__tab-menu .omnidb__tab-menu__link-content {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: flex-start;
  }

  /* TAB MENU -- PRIMARY */
  .omnidb__tab-menu--primary {
    bottom: 0px;
    height: 100%;
    left: 0px;
    overflow: hidden;
    padding: 0px;
    position: fixed;
    top: 0px;
    z-index: 2100;
  }
  .omnidb__tab-menu--primary .nav-tabs {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-flex-start;
  }
  .omnidb__tab-menu--primary .nav-tabs .nav-item {
    border: none;
    margin-bottom: 3px;
    margin-top: 3px;
    padding: 3px;
  }
  .omnidb__tab-menu.omnidb__tab-menu--primary:hover .omnidb__tab-menu__link-close {
    opacity: 1;
  }
  .omnidb__tab-menu--primary .omnidb__tab-menu__link-icon {
    margin-right: 3px;
  }
  .omnidb__tab-menu--primary .omnidb__tab-menu__link-name {
    display: inline-block;
    width: 0px;
    overflow: hidden;
    transition: 0.35s;
    white-space: nowrap;
  }

  .omnidb__tab-menu.omnidb__tab-menu--primary:hover .omnidb__tab-menu__link-name {
    width: 160px;
  }

  /* TAB MENU -- SECONDARY */
  .omnidb__tab-menu--secondary {
    padding-top: 3px;
    padding-right: 80px;
  }
  .omnidb__tab-menu--secondary .omnidb__tab-menu__link-name {
    padding-right: 10px;
  }

  .omnidb__tab-menu--secondary .omnidb__tab-menu__link-icon {
    margin-right: 3px;
  }
  .omnidb__tab-menu.omnidb__tab-menu--secondary .omnidb__tab-menu__link:hover .omnidb__tab-menu__link-close {
    opacity: 1;
  }

  /* TAB-CONTENT */
  .omnidb__tab-content--primary {
    border-left: 36px solid #f8f9fa;
  }
}

@media (min-width: 240px) and (max-width: 1279px) {
  .omnidb__rounded--lg {
    border-radius: 18px;
  }

  .omnidb__utilities-menu {
    padding: 0.25rem 0.125rem;
    position: fixed;
    right: 2px;
    top: 2px;
    z-index: 1001;
  }
  .omnidb__utilities-menu .omnidb__menu__btn.nav-link {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    width: 0px;
    transition: 0.35s;
  }
  .omnidb__utilities-menu:hover .omnidb__menu__btn.nav-link {
    width: 27px;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }
  .omnidb__utilities-menu .omnidb__menu__btn-text {
    padding: 0px;
  }

  .omnidb__menu__btn {
    align-items: center;
    border-radius: 100%;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    height: 27px;
    width: 27px;
    overflow: hidden;
  }

  /* MAIN */
  .omnidb__main__tablist-toggler {
    align-items: center;
    color: #434f66;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 5000;
    height: 36px;
    text-align: center;
    border: none;
    width: 36px;
  }

  /* TAB MENU */
  .omnidb__tab-menu {
    /* position: fixed;
    bottom: 0px;
    height: 100%;
    left: 0px;
    top: 0px; */
  }
  .omnidb__tab-menu .omnidb__tab-menu__link {
    position: relative;
  }
  .omnidb__tab-menu .omnidb__tab-menu__link-close {
    opacity: 0;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s;
  }
  .omnidb__tab-menu .omnidb__tab-menu__link-content {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: flex-start;
  }

  /* TAB MENU -- PRIMARY */
  .omnidb__tab-menu--primary {
    bottom: 0px;
    height: 100%;
    left: 0px;
    overflow: hidden;
    padding: 0px;
    position: fixed;
    top: 0px;
    z-index: 2100;
  }
  .omnidb__tab-menu--primary .nav-tabs {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-flex-start;
  }
  .omnidb__tab-menu--primary .nav-tabs .nav-item {
    border: none;
    margin-bottom: 3px;
    margin-top: 3px;
    padding: 3px;
  }
  .omnidb__tab-menu.omnidb__tab-menu--primary:hover .omnidb__tab-menu__link-close {
    opacity: 1;
  }
  .omnidb__tab-menu--primary .omnidb__tab-menu__link-icon {
    margin-right: 3px;
  }
  .omnidb__tab-menu--primary .omnidb__tab-menu__link-name {
    display: inline-block;
    width: 0px;
    overflow: hidden;
    transition: 0.35s;
    white-space: nowrap;
  }

  .omnidb__tab-menu.omnidb__tab-menu--primary:hover .omnidb__tab-menu__link-name {
    width: 160px;
  }

  /* TAB MENU -- SECONDARY */
  .omnidb__tab-menu--secondary {
    padding-top: 3px;
    padding-right: 80px;
  }
  .omnidb__tab-menu--secondary .omnidb__tab-menu__link-name {
    padding-right: 10px;
  }

  .omnidb__tab-menu--secondary .omnidb__tab-menu__link-icon {
    margin-right: 3px;
  }
  .omnidb__tab-menu.omnidb__tab-menu--secondary .omnidb__tab-menu__link:hover .omnidb__tab-menu__link-close {
    opacity: 1;
  }

  /* TAB-CONTENT */
  .omnidb__tab-content--primary {
    border-left: 36px solid #f8f9fa;
  }
}
/* END QUERYS */


.omnidb__main {
  min-height: 100vh;
}

.omnidb__main-tablist--hide-primary .omnidb__tab-menu.omnidb__tab-menu--primary {
  display: none;
}
.omnidb__main-tablist--hide-primary .omnidb__tab-content--primary {
  border-left: none !important;
}
.omnidb__tab-menu--primary .nav-tabs .nav-item:first-child {
  padding: 0px;
}
.omnidb__tab-menu--primary .nav-tabs .nav-item:first-child span.omnidb__menu__btn.omnidb__tab-menu__link-icon {
  background-color: unset;
}
.omnidb__tab-menu--primary .nav-tabs .nav-item:first-child img {
  height: 32px;
}
.omnidb__tab-menu--secondary {
  border-bottom: 1px solid transparent;
}
.omnidb__tab-menu--secondary .nav-tabs {
  /* border-bottom: none; */
}
.omnidb__tab-menu--secondary .omnidb__tab-menu__link,
.omnidb__tree-tabs .omnidb__tab-menu__link,
.omnidb__query-result-tabs .omnidb__tab-menu__link {
  /* border-top-left-radius: 12px; */
  /* border-top-right-radius: 12px; */
  font-size: 1.15rem;
  line-height: 1;
  margin-right: 5px;
  /* padding: 2px 5px; */
}
.omnidb__tab-menu--secondary .omnidb__tab-menu__link-icon,
.omnidb__tree-tabs .omnidb__tab-menu__link-icon,
.omnidb__query-result-tabs .omnidb__tab-menu__link-icon {
  width: 23px;
  height: 23px;
}


/* RESIZE GRID */
.omnidb__workspace-resize-grid {
  /* display: none; */
  position: absolute;
  z-index: 9999999;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.omnidb__workspace-resize-grid__column {
  width: 30px;
  transform: translateX(15px);
}
.omnidb__workspace-resize-grid__draggable {
  pointer-events: all;
}
.omnidb__workspace-resize-grid__draggable.omnidb__workspace-resize-grid__draggable--is-dragging {
  /* background-color: indigo;
  border-radius: 100%;
  opacity: 0.25; */
}
.omnidb__workspace-resize-grid__draggable .resize_line_vertical {
  align-items: center;
  border-right: 1px dotted #c3c3c3;
  display: flex;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 22px;
}
.omnidb__workspace-resize-grid__draggable.omnidb__workspace-resize-grid__draggable--is-dragging .resize_line_vertical {
  /* border: none; */
}
.omnidb__workspace-resize-grid__draggable .resize_line_vertical span {
  opacity: 0;
  font-size: 36px;
}
.omnidb__workspace-resize-grid__draggable.omnidb__workspace-resize-grid__draggable--is-dragging .resize_line_vertical span {
  opacity: 1;
}
.omnidb__workspace-resize-grid.omnidb__workspace-resize-grid--active {
  display: block;
  pointer-events: all;
}
.omnidb__workspace-resize-grid.omnidb__workspace-resize-grid--active .omnidb__workspace-resize-grid__column {
  background-color: lightblue;
  border: 1px dashed;
  opacity: 0.25;
  pointer-events: all;
}
.omnidb__workspace-resize-grid.omnidb__workspace-resize-grid--active .omnidb__workspace-resize-grid__column.omnidb__workspace-resize-grid__column--enter {
  background-color: lightgreen;
}

/* WORKSPACE CONTENT LEFT */
.omnidb__workspace__content-left {
  padding: 7px 15px 7px 7px;
  width: 100%;
}



/* TAB ACTIONS */
.omnidb__tab-actions {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}
.tab_actions.omnidb__tab-actions {
  padding-bottom: 3px;
  padding-top: 3px;
}
.omnidb__tab-actions .omnidb__tab-actions__btn {
  margin-right: 5px;
}

.omnidb__tab-status {
  margin-right: 5px;
}
.omnidb__tab-status__icon {
  margin-right: 5px;
}

/* UTILITIES MENU */
.omnidb__utilities-menu .omnidb__menu__btn-user i {
  height: 27px;
  line-height: 27px;
  overflow: hidden;
  text-align: center;
  transition: 0.35s;
  width: 27px;
}
.omnidb__utilities-menu .omnidb__menu__btn-user span {
  transform: scaleX(0);
  transition: 0.35s;
  width: 0px;
}
.omnidb__utilities-menu:hover .omnidb__menu__btn-user i {
  width: 0px;
}
.omnidb__utilities-menu:hover .omnidb__menu__btn-user span {
  transform: scaleX(1);
  width: auto;
}


/* FORMS */
.omnidb__form-check .form-check-label {
  cursor: pointer;
  padding-left: 0.25rem;
}
.omnidb__form-check .form-check-label::before {
  background-color: #FFF;
  border: 1px solid #d2d2d2;
  border-radius: 3px;
  content: " ";
  display: inline-block;
  height: 16px;
  left: 0px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  z-index: 1;
}
.omnidb__form-check .form-check-label::after {
  border-radius: 3px;
  content: " ";
  display: inline-block;
  height: 10px;
  left: 3px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  z-index: 2;
}
.omnidb__form-check input:checked~.form-check-label::after {
  background-color: #43afd2;
}



/* CONNECTIONS */
.omnidb__connections__card-list--cards .row {
  justify-content: center;
}

.omnidb__connections__card-list--cards .omnidb__connections__card .card-body {
  position: relative;
}
.omnidb__connections__card-list--cards .omnidb__connections__btn--select {
  align-items: center;
  border: none;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  display: flex;
  font-size: 30px;
  height: 100%;
  line-height: 30px;
  padding: 0px;
  position: absolute;
  right: -5px;
  top: 0px;
  width: 50px;
  z-index: 1;
}
.omnidb__connections__card-list--cards .omnidb__connections__btn--select i {
  margin: auto;
}
.omnidb__connections__card-list--cards .omnidb__connections__cols {
  flex: 0 1 350px;
  padding: 15px;
}

.omnidb__connections__card-list--rows .omnidb__connections__cols {
  flex: 1 1;
  padding: 5px 15px;
}
.omnidb__connections__card-list--rows .card-body {
  align-items: center;
  display: flex;
  padding: 5px;
}
.omnidb__connections__card-list--rows h5,
.omnidb__connections__card-list--rows h6,
.omnidb__connections__card-list--rows p {
  margin-bottom: 0px !important;
  margin-right: 5px;
}
.omnidb__connections__card-list--rows h6 {
  margin-top: 3px;
}
.omnidb__connections__card-list--rows .omnidb__connections__btn--select {
  margin-left: auto !important;
}
.omnidb__connections__card-list--rows .omnidb__connections__btn--select svg {
  display: none;
}

/* POPOVER */
.popover {
  font-size: 1rem;
}

/* TOOLTIPS */
.tooltip h5 {
  font-size: 1.2rem;
}
.tooltip div {
  font-size: 1rem;
  text-align: left;
}

/* OLD TEMPLATE */
body {
}

#div_shortcut_background_dark {
    display: none;
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 0, 0, 0, .4 );
    vertical-align: top;
    color: white;
    font-size: 40px;
    text-shadow: 1px 1px #000000;
    text-align: center;
}

.div_loading {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.div_loading_cover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}

.div_loading_content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.tab-icon {
  margin: 0px 4px;
}

/* Handsontable Customization with font-size */
.handsontable th, .handsontable td {
  height: 2rem;
  padding: 0px 0.36rem 0px 0.36rem;
  vertical-align: middle;
}

/* Handsontable invisible */

.ht_invisible .handsontable tr:nth-of-type(2n) td {
    border-right: 1px solid #ffffff00 !important;
    border-bottom: 1px solid #ffffff00 !important;
}

.ht_invisible .handsontable tr:hover {
    background-color: #ffffff00 !important;
}

.ht_invisible .handsontable tr:nth-of-type(2n + 1) {
  background-color: #ffffff00 !important;
}

.ht_invisible .handsontable tr:nth-of-type(2n) td {
  background-color: #ffffff00 !important;
}

.ht_invisible .handsontable tr:nth-of-type(2n + 1) td {
  background-color: #ffffff00 !important;
}

.ht_invisible .handsontable tr {
    background-color: #ffffff00 !important;
}

.ht_invisible .handsontable tr:nth-of-type(2n + 1) td {
    border-right: 1px solid #ffffff00 !important;
    border-bottom: 1px solid #ffffff00 !important;
}

.ht_invisible .handsontable tr:first-child td {
    border-top: 1px solid #ffffff00 !important;
}

.ht_invisible .handsontable td:first-of-type, .ht_invisible .handsontable .htNoFrame + th, .ht_invisible .handsontable .htNoFrame + td {
    border-left: 1px solid #ffffff00 !important;
}

.ht_invisible .ht_master:not(.innerBorderTop) thead tr:last-child th, .ht_invisible .ht_master:not(.innerBorderTop) ~ .handsontable thead tr:last-child th, .ht_invisible .ht_master:not(.innerBorderTop) thead tr.lastChild th, .ht_invisible .ht_master:not(.innerBorderTop) ~ .handsontable thead tr.lastChild th {
  border-bottom-width: 1px;
}

/* Connection modal */

.connection-card-checkbox {
  position: absolute;
  left: 5px;
  top: 5px;
}

.connection-card-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/* Monitoring Dashboard */

.dashboard_all {
  overflow: auto;
}

.dashboard_unit_grid {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: auto;
}

.dashboard_unit_content_group {
  overflow: auto;
  height: 300px;
}

.dashboard_unit_legend_box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.dashboard_unit_label_box {
  width: 25px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
}

.dashboard_unit_label_group {
  margin: 3px 5px;
}

.dashboard_unit_label {
  vertical-align: middle;
  margin-left: 3px;
}
