*.log
*.pot
*.pyc
*__pycache__/
local_settings.py
*db.sqlite3
media
*.python-version
*omnidb.db
log/omnidb.log
*.vagrant
OmniDB/chat
OmniDB/OmniDB_app/static/chat*
omnidb_app/node_modules/
omnidb_app/omnidb-gui*
omnidb_app/package-lock.json
*.DS_Store

