.div_loading {
  display: none;
  position: absolute;
  z-index: 100005;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(252, 253, 253, 0.6) url(../images/omnidb_loading.svg) 50% 50% no-repeat;

  align-items: center;
  justify-content: center;

  button {
    margin-top: 100px;
    display: none;
  }

}

.div_loading_local {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
  background: rgba(252, 253, 253, 0.6) url(../images/omnidb_loading.svg) 50% 50% no-repeat;
}

body.loading .div_loading {
    display: flex;
}
