<html>
<head>
  <title>OmniDB</title>
  <link rel="shortcut icon" type="image/x-icon" href="/static/OmniDB_app/images/favicon.ico"        />

	<link rel="stylesheet" type="text/css" href="/static/OmniDB_app/css/style.css"                  />
	<link rel="stylesheet" type="text/css" href="/static/OmniDB_app/css/handsontable.full.css"      />
	<link rel="stylesheet" type="text/css" href="/static/OmniDB_app/css/msdropdown/dd.css"          />
    <link rel="stylesheet" type="text/css" href="/static/OmniDB_app/lib/tabs/css/tabs.css"          />
    <link rel="stylesheet" type="text/css" href="/static/OmniDB_app/css/jquery.qtip.min.css"        />
    <link rel="stylesheet" type="text/css" href="/static/OmniDB_app/css/jquery-ui.min.css"          />
    <link rel="stylesheet" type="text/css" href="/static/OmniDB_app/css/jquery-ui.structure.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/OmniDB_app/css/jquery-ui.theme.min.css"    />
    <link rel="stylesheet" type="text/css" href="/static/OmniDB_app/css/popupJS.css"                />

  {% block include_css %}
  {% endblock %}

</head>
<body>

	<div class="header">
		<div class="header_menu">
			<img src="/static/OmniDB_app/images/omnidb.png" />
			<ul>
        <li><a id="menu_connections" href="../connections">Connections</a></li>
				<li><a id="menu_workspace" href="../workspace">Workspace</a></li>
        <!--<li><a id="menu_monitoring" href="../monitoring">Monitoring</a></li>-->
				<!--<li><a id="menu_conversions" href="Conversions.aspx">Convert</a></li>-->
			</ul>
			<div style="position: absolute; right: 0px; top: 0px;">
				<ul>
          {% if not desktop_mode %}
  					<li style="color: #F1F7FF; padding-right: 10px;">{{ session.v_user_name }}</li>
            {% if session.v_super_user == 1 %}
    					<li style="padding-right: 10px;"><img title="Manage users" style="vertical-align: middle; cursor: pointer;" onclick="listUsers();" src="/static/OmniDB_app/images/users.png"/></li>
    				{% endif %}
          {% endif %}
					<li style="padding-right: 10px;"><img title="User settings" style="vertical-align: middle; cursor: pointer;" onclick="showConfigUser();" src="/static/OmniDB_app/images/gear.png"/></li>
          <li style="padding-right: 10px;"><img title="SQL History" style="vertical-align: middle; cursor: pointer;" onclick="showCommandList();" src="/static/OmniDB_app/images/command_list.png"/></li>
					<li style="padding-right: 10px;"><img title="About" style="vertical-align: middle; cursor: pointer;" onclick="showAbout();" src="/static/OmniDB_app/images/about.png"/></li>
          {% if not desktop_mode %}
          <li><a href="../logout">Logout</a></li>
          {% endif %}
				</ul>
			</div>
		</div>
	</div>

  {% block content %}
  {% endblock %}

  <div class="div_loading"></div>

  <script type="text/javascript" src="/static/OmniDB_app/js/jquery-1.11.2.min.js"      ></script>
  <script type="text/javascript" src="/static/OmniDB_app/js/jquery.qtip.min.js"        ></script>
	<script type="text/javascript" src="/static/OmniDB_app/js/jquery.dd.min.js"        ></script>
  <script type="text/javascript" src="/static/OmniDB_app/lib/ace/ace.js"               ></script>
  <script type="text/javascript" src="/static/OmniDB_app/lib/ace/mode-sql.js"          ></script>
  <script type="text/javascript" src="/static/OmniDB_app/lib/ace/ext-language_tools.js"></script>
  <script type="text/javascript" src="/static/OmniDB_app/lib/tabs/lib/tabs.js"         ></script>
	<script type="text/javascript" src="/static/OmniDB_app/js/handsontable.full.js"    ></script>
  <script type="text/javascript" src="/static/OmniDB_app/js/NotificationControl.js"    ></script>
  <script type="text/javascript" src="/static/OmniDB_app/js/AjaxControl.js"            ></script>
  <script type="text/javascript" src="/static/OmniDB_app/js/WebSocketControl.js"       ></script>
  <script type="text/javascript" src="/static/OmniDB_app/js/Renderers.js"              ></script>
  <script type="text/javascript" src="/static/OmniDB_app/js/HeaderActions.js"          ></script>
  <script type="text/javascript" src="/static/OmniDB_app/js/Passwords.js"              ></script>
  <script type="text/javascript" src="/static/OmniDB_app/js/Users.js"                  ></script>
  <script type="text/javascript" src="/static/OmniDB_app/js/popupJS.js"                ></script>
  <script type="text/javascript" src="/static/OmniDB_app/js/jquery-ui.min.js"          ></script>

  <script type="text/javascript">

	//Global variables
	var v_editor_theme = '{{ session.v_editor_theme }}';
	var	v_theme_type = '{{ session.v_theme_type }}';
	var	v_theme_id = {{ session.v_theme_id }};
	var v_editor_font_size = {{ session.v_editor_font_size }};
	var v_user_id = {{ session.v_user_id }};
    var v_user_key = '{{ session.v_user_key }}';
    var v_user_name = '{{ session.v_user_name }}';
	var v_enable_omnichat = parseInt({{ session.v_enable_omnichat }});
    var v_omnidb_version = '{{ omnidb_version }}';
    var v_desktop_mode = 'true' == '{{ desktop_mode }}'.toLowerCase();

  var v_menu_item = '{{ menu_item }}'
  $('#menu_' + v_menu_item).addClass('header_a_selected');

  var ht;
  var network;
  var v_connTabControl;
  var v_commandListObject;
  var v_usersObject;
  var v_editDataObject;
  var v_canEditContent;
  var v_editContentObject;
  var v_database_list = null;
  var v_completer_ready = true;
  var v_tree_object;

  </script>

  {% block include %}
  {% endblock %}

</body>
</html>
{% csrf_token %}
