{% extends 'OmniDB_app/base.html' %}
{% block header_menu %}
<li><a id="menu_workspace" href="../workspace">Workspace</a></li>
{% endblock %}
{% block content %}
	<div style='margin-left:20px; margin-top: 20px; display:inline-block;'>
		<button onclick="newConnection()">New Connection</button>
	</div>
	<div id='div_save' style='visibility: hidden; display:inline-block;'>
		<button onclick="saveConnections()">Save Data</button>
	</div>
	<div id='div_conn_list' style='width: 80%; margin:20px;'></div>
{% endblock %}
{% block include %}
	<script type="text/javascript" src="/static/OmniDB_app/js/Connections.js?v2.4.0"></script>
	<script type="text/javascript">

	//Global variables
	var v_connections_data;

	</script>
{% endblock %}
