<html>
<head runat="server">
	<title>OmniDB</title>

	<link rel="shortcut icon" type="image/x-icon" href="/static/OmniDB_app/images/favicon.ico" />

	<link rel="stylesheet" type="text/css" href="/static/OmniDB_app/css/style.css"/>

	<script type="text/javascript" src="/static/OmniDB_app/js/jquery-1.11.2.min.js"   ></script>
  <script type="text/javascript" src="/static/OmniDB_app/js/NotificationControl.js" ></script>
  <script type="text/javascript" src="/static/OmniDB_app/js/AjaxControl.js"         ></script>
  <script type="text/javascript" src="/static/OmniDB_app/js/WebSocketControl.js"    ></script>
	<script type="text/javascript">

		$(function () {

			checkSessionMessage();

		});

		function signIn() {

			document.getElementById("txt_user").blur();
			document.getElementById("txt_pwd").blur();

			var v_user_name = document.getElementById('txt_user').value;
			var v_pwd = document.getElementById('txt_pwd').value;

			execAjax('/sign_in/',
				JSON.stringify({"p_username": v_user_name, "p_pwd": v_pwd}),
				function(p_return) {

					if (p_return.v_data!=-1) {
						if (p_return.v_data==0)
							window.open("../connections",'_self');
						else
							window.open("../workspace",'_self');
					}
					else
						showAlert('Invalid username or password.');

				},
				null,
				'box'
			);
		}

	</script>
</head>
<body>
<div id="div_form">
	<table style="width: 70%; margin-left: auto; margin-right: auto; height: 200px; vertical-align: middle;">
	<tr>
	<td style="width: 20%;">
	<div id="div_time" style="font-size: 50px; color:white; font-weight: bold; text-shadow: 2px 2px rgb(106, 129, 162);"><img src="/static/OmniDB_app/images/omnidb_big.png"/></div>
	</td>
	<td style="width: 80%;" style="text-align: center;">
		<input id='txt_user' type='text' placeholder='user' onkeydown="if (event.keyCode == 13) signIn();"/>
		<input id='txt_pwd' type='password' placeholder='password' onkeydown="if (event.keyCode == 13) signIn();"/>
		<button onclick='signIn()'>Sign in</button>
	</td>
	</tr>
	</table>
</div>

<div id="div_error" style="display:none;">
		<div class="modal_background_dark">
				<div class ="white_box" style="width: 90%; height: 90%; left: 5%; top: 5%;">
						<a class="bt_close" onclick="hideError()">x</a>
						<div id="div_error_msg" style="height:100%; width:100%; margin-top:20px; text-align: center;"></div>
				</div>
		</div>
</div>

<div id="div_alert" style="display:none;">
		<div class="modal_background_dark">
				<div class ="white_box" style="width: 30%; height: 20%; left: 35%; top: 40%;">
						<div id="div_alert_content" style="height:100%; width:100%;"></div>
				</div>
		</div>
</div>

	<div class="div_loading">
	</div>

</body>
</html>
{% csrf_token %}
