.omnidb--theme-light {
  color: #444;
}

.omnidb__main {
  background-color: #F4F4F4;
}

.omnidb__theme-bg--menu-primary {
  background-color: #839EC7;
}
.omnidb__theme-border--primary {
  border: 1px solid #94A5E3;
}
.omnidb__theme-border-top--primary {
  border-top: 1px solid #94A5E3;
}
.omnidb__workspace__div-left {
  background-color: #FFF;
}
.omnidb__workspace__div-right {
  background-color: #F4F4F4;
}
.tab_actions.omnidb__tab-actions {
  background-color: #FFF;
}

/* ICONS */
.omnidb--theme-light .close,
.omnidb--theme-light i.icon-close {
  color: #d85656;
}

/* BRANDING ICON */
.omnidb-icon__theme--branding,
.omnidb-icon__theme--branding path {
	fill: #FFF;
}

/* BUTTONS */
.omnidb__theme__btn--primary {
  background-color: #4A81D4;
  color: #FFF;
}
.omnidb__theme__btn--secondary {
  background-color: #6C757D;
  color: #FFF;
}

/* CONSOLE */
.omnidb__console__text-input .ace_content {
  background-color: #ffffff;
  box-shadow: inset 1px 1px 3px rgba(0,0,0,0.2);
}

/* TABS */
/* .nav-tabs {
  border-color: #E2E2E2 !important;
}
.nav-tabs .nav-link {
  color: #FFF;
}
.nav-tabs .nav-link.active {
  background-color: #FFF !important;
  border-color: #FFF !important;
  color: #444;
} */

/* PRIMARY TAB */
.omnidb__tab-menu--primary .omnidb__menu__btn {
  /* background-color: #FFF; */
}
.omnidb__tab-menu--primary .omnidb__tab-menu__link.nav-link.active .omnidb__tab-menu__link-name {
  color: #444444;
}
.omnidb__tab-menu--primary .omnidb__tab-menu__link-name{
	color: #FFF;
}
.omnidb__tab-menu--primary .omnidb__tab-menu__link-icon {
	color: #839ec7;
}

/* UTILITIES MENU */
.omnidb__utilities-menu .omnidb__menu__btn {
  background-color: #FFF !important;
  color: #444444 !important;
}
.omnidb__utilities-menu .omnidb__menu__btn-text {
  color: #FFF !important;
}

a {
  color: #444444;
}
a:hover {
  color: #000000;
}

/* ACE EDITOR */
.ace_editor.ace-omnidb {
  background-color: #F4F4F4 !important;
  border: 1px solid #94A5E3 !important;
}
.ace_editor.ace-omnidb .ace_gutter {
	background-color: #FFF;
}
.ace_editor.ace-omnidb .ace_folding-enabled > .ace_gutter-cell {
  color: #828282;
}

/* SECONDARY TAB */
.omnidb__tab-menu--secondary {
  border-bottom-color: #94A5E3;
}
.omnidb__tab-menu--secondary .nav-tabs {
  border-bottom-color: transparent !important;
}
.omnidb__tab-menu--secondary .omnidb__tab-menu__link {
  background-color: transparent;
  border-color: #e2e2e2;
  border-bottom-color: #94A5E3;
}
.omnidb__tab-menu--secondary .omnidb__tab-menu__link-name {
  color: #444444 !important;
}
.omnidb__tab-menu--secondary .omnidb__tab-menu__link-icon {
  background-color: unset;
}
.omnidb__tab-menu--secondary .omnidb__tab-menu__link.active {
  background-color: transparent;
  border-color: #94A5E3;
  border-bottom-color: #f4f4f4;
}

/* TREE TAB */
.omnidb__tree-tabs .omnidb__tab-menu .nav-tabs {
  border-bottom-color: transparent !important;
}
.omnidb__tree-tabs .omnidb__tab-menu .omnidb__tab-menu__link {
  background-color: transparent;
  border-color: #e2e2e2;
  border-bottom-color: #94A5E3;
}
.omnidb__tree-tabs .omnidb__tab-menu .omnidb__tab-menu__link-name {
  color: #444444 !important;
}
.omnidb__tree-tabs .omnidb__tab-menu .omnidb__tab-menu__link-icon {
  background-color: #E2E2E2 !important;
}
.omnidb__tree-tabs .omnidb__tab-menu .omnidb__tab-menu__link.active {
  background-color: transparent;
  border-color: #94A5E3;
  border-bottom-color: #e4e4e4;
}

/* QUERY RESULT TABS */
.omnidb__query-result-tabs .omnidb__tab-menu .nav-tabs {
  border-bottom-color: transparent !important;
}
.omnidb__query-result-tabs .omnidb__tab-menu .omnidb__tab-menu__link {
  background-color: transparent;
  border-color: #e2e2e2;
  border-bottom-color: #94A5E3;
}
.omnidb__query-result-tabs .omnidb__tab-menu .omnidb__tab-menu__link-name {
  color: #444444 !important;
}
.omnidb__query-result-tabs .omnidb__tab-menu .omnidb__tab-menu__link-icon {
  background-color: #E2E2E2 !important;
}
.omnidb__query-result-tabs .omnidb__tab-menu .omnidb__tab-menu__link.active {
  background-color: transparent;
  border-color: #94A5E3;
  border-bottom-color: #e4e4e4;
}
.omnidb__query-result-tabs .omnidb__tab-content {
  /* border: 1px solid #94A5E3; */
}

/* MONITORING */
.omnidb__monitoring-result-tabs {
  border: 1px solid #94A5E3;
}

/* CARD */
.omnidb--theme-dark .card {
  background-color: #FFF;
}

/* FORMS */
.omnidb__form-check .form-check-label::before {
  background-color: #f4f4f4 !important;
  border: 1px solid #94A5E3 !important;
}
.omnidb__form-check input:checked~.form-check-label::after {
  background-color: #43afd2;
}

/* MODAL */
.omnidb--theme-light .modal-header {
  border-color: #E2E2E2;
}
.omnidb--theme-light .modal-content {
  background-color: #FFF;
}

/* SCROLL */
/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #ecf0f5;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #bbcde8;
    cursor: pointer;
}

/* TOAST */
.omnidb--theme-light .toast {
  background-color: #dadada;
  border-color: rgba(0,0,0,.1);
 }
.omnidb--theme-light .toast-header {
  background-color: rgba(255,255,255,.85);
}

/* CONNECTIONS */
.omnidb__connections__btn--select svg {
  fill: #FFF;
}

/* JSON BUILDER */
.omnidb--theme-light .jsonBuilder--template-2 .jsonBuilder__label {
    background-color: #E2E2E2;
}

/* PAGINATION */
.omnidb--theme-dark .page-link {
  /* color: #7CBAFB;
  background-color: #1d1f21;
  border: 1px solid #484a55; */
}
.omnidb--theme-dark .page-item.active .page-link {
  /* color: #FFF;
  background-color: #394E83;
  border-color: #394E83; */
}

/* RESIZE LINES */
.resize_line_horizontal {
  border-bottom: 1px dashed #A2AFC1 !important;
}
.omnidb__workspace-resize-grid__draggable .resize_line_vertical {
  border-right: 1px dashed #A2AFC1 !important;
}

/* Workspace Connection Info */
.omnidb__workspace__connection-details b {
  color: #284AC6;
}

/* Tree Component */
/* .div_left ul.tree {
  background-color: #373b41 !important;
}
.div_left ul.tree li.last {
  background-color: #373b41 !important;
}
.div_right ul.tree {
  background-color: #373b41 !important;
  font-weight: bold;
}
.div_right ul.tree li.last {
  background-color: #373b41 !important;
} */
.aimara_tree span.node:hover,
.aimara_tree span.node_selected:hover {
  background-color: #ddf3df;
}
/* .node:hover a {
  color: white !important;
}
.node a {
  color: #ffffff !important;
} */
span.node_selected span {
  color: #284AC6;
}

.cellNew {
	background-color: rgb(216, 236, 218) !important;
}

.cellEdit {
	background-color: rgb(255, 251, 215) !important;
}

.cellRemove {
	background-color: rgb(255, 213, 213) !important;
}

.cellReadOnly {
	background-color: rgb(242, 242, 242) !important;
}

.cellEven {
	background-color: rgb(234, 237, 249) !important;
}

#horizontal-resize-line {
  border-left-color: black;
}

#vertical-resize-line {
  border-top-color: black;
}
