body {
  background-color: #373b41 !important;
}
div.header {
  background-color: #1a1a1d !important;
}
.header .header_a_selected {
  background-color: #1e90ff !important;
}
.header_menu a {
  background-color: #1a1a1d !important;
}
.header .header_a_selected:hover,
.header_menu a:hover {
  color: #f8f8f8 !important;
  background: #1e90ff !important;
}
/* --------------------
			Div Loading
---------------------*/
.div_loading, .div_loading_local {
	background: rgba(0, 0, 0, 0.6) url(../../images/omnidb_loading.svg) 50% 50% no-repeat !important;
}

.div_right div > div.tab {
  background-color: #525252 !important;
}
/* --------------------
			Conn Tabs
---------------------*/
.conn_tabs div > div.tab, .white_box div > div.tab, .config_box div > div.tab {
  background-color: #373b41 !important;
}
.white_box .div_tabs, .ace_editor {
  border: 1px solid #484a55 !important;
}
.conn_tabs .tabs, .white_box .tabs, .config_box .tabs {
  background: #25282c !important;
}
.conn_tabs .tabs > li, .white_box .tabs > li, .config_box .tabs > li {
  background-color: #373b41 !important;
  color: #ffffff !important;
}

.config_box {
  color: #ffffff !important;
}

.link_text {
  color: #ffc67a !important;
}
/* --------------------
			Right Div
---------------------*/
/* Right Div Colors */
.query_info {
    color: #ffffff !important;
}
.div_right div > div.tab {
  background-color: #373b41 !important;
}

.div_right .tabs {
  background: #25282c !important;
}
.div_right .tabs > li {
  background-color: #373b41 !important;
  color: #ffffff !important;
}
/* Handsontables */
.handsontable th .relative {
  color: #d7d7d7 !important;
}
select {
  background: #1d1f21 !important;
  border: solid #484a55 1px !important;
  color: #ffffff !important;
}
.handsontable th {
  color: #2bb2d8 !important;
  background-color: #25282c !important;
}
.handsontable tr:nth-of-type(2n + 1) td {
  color: #c5c5c5;
  border-right: 1px solid #484a55 !important;
  border-bottom: 1px solid #484a55 !important;
  background-color: #1d1f21;
}
.handsontable tr:nth-of-type(2n) td {
  color: #c5c5c5;
  border-right: 1px solid #484a55 !important;
  border-bottom: 1px solid #484a55 !important;
  background-color: #1d1f21;
}

.handsontable tr:first-child th, .handsontable tr:first-child td {
  border-top: 1px solid #484a55 !important;
}

.handsontable th:first-child, .handsontable td:first-of-type, .handsontable .htNoFrame + th, .handsontable .htNoFrame + td {
  border-left: 1px solid #484a55 !important;
}

.handsontable th:last-child {
  border-right: 1px solid #484a55 !important;
  border-bottom: 1px solid #484a55 !important;
}

.handsontable th, .handsontable td {
  border-right: 1px solid #484a55 !important;
  border-bottom: 1px solid #484a55 !important;
}

.handsontable.htRowHeaders thead tr th:nth-child(2) {
  border-left: 1px solid #484a55 !important;
}

.handsontable input, .handsontable textarea {
  background-color: #1b1b1b !important;
  color: #fff !important;
}
.handsontable .wtBorder.corner {
  border: 2px solid #5292f7 !important;
}
.handsontable td.area {
  background: #2e3136 !important;
}
.handsontable.listbox .ht_master table {
    color: #d7d7d7 !important;
    border: 1px solid #484a55 !important;
    border-collapse: separate;
    background: red;
}
.handsontable.listbox tr td.current, .handsontable.listbox tr:hover td {
	background-color: #1e90ff !important;
	color: #fff !important;
}
.ace_rightAlignedText {
	color: #d7d7d7 !important;
}
/* --------------------
			White Box
---------------------*/
/* Handsontables */

/* --------------------
			Left Div
---------------------*/
/* Connection Selector */
.dd {
  border: none;
  border-top: 1px solid #484a55 !important;
  border-left: 1px solid #484a55 !important;
  border-right: 1px solid #484a55 !important;
}
.div_left .ddTitle {
  color: #ffffff !important;
  background: #373b41 !important;
}
.ddTitle span {
  /*font-weight: bold !important;*/
}
.div_left .dd .divider {
  border-left: 1px solid #484a55 !important;
  border-right: 0px solid #484a55 !important;
}
.div_left .dd .ddChild li.selected {
  background-color: #25282c !important;
}
.div_left .dd .ddChild li {
  background-color: #25282c !important;
  color: #d7d7d7 !important;
}
.div_left .dd .ddChild li .ddlabel {
  color: #d7d7d7 !important;
}
.div_left .dd .ddChild li {
    border-bottom: 1px solid #484a55 !important;
}
.div_left .dd .ddChild {
    border: none;
    border-top: 1px solid #484a55 !important;
    border-left: 1px solid #484a55 !important;
    border-right: 1px solid #484a55 !important;
}
/* Tree Component */
.div_left ul.tree {
  background-color: #373b41 !important;
}
.div_left ul.tree li.last {
  background-color: #373b41 !important;
}
.div_right ul.tree {
  background-color: #373b41 !important;
  font-weight: bold;
}
.div_right ul.tree li.last {
  background-color: #373b41 !important;
}
.node:hover {
  background-color: #4e5a6b !important;
  border: 1px solid #4e5a6b !important;
}
.node:hover a {
  color: white !important;
}
.node a {
  color: #ffffff !important;
}
span.node_selected {
  background-color: #4e5a6b !important;
  border: 1px solid #4e5a6b !important;
  color: white !important;
  border-radius: 2px !important;
}

.div_left h2 {
	color: #d7d7d7 !important;
}
/* ----------------------
				Aimara Menu
-----------------------*/
.aimara_menu,
.aimara_sub-menu {
  color: #ffffff !important;
  background-color: #1d1f21 !important;
  border-color: #484a55 !important;
  box-shadow: none !important;
}
.aimara_menu li:hover,
.aimara_sub-menu li:hover {
  background-color: #4e5a6b !important;
  color: white !important;
}
.cm-all {
    color: #ececec !important;
}
/* -----------------------
				Handsontables Menu
------------------------*/
.htContextMenu .wtSpreader table.htCore {
  border-color: #6d6d6d !important;
}
.htContextMenu .wtSpreader table.htCore div {
  color: #d7d7d7 !important;
}
.htContextMenu .wtSpreader table.htCore td {
  background-color: #191919 !important;
}
.htContextMenu .wtSpreader table.htCore td:hover {
  background-color: #1e90ff !important;
}
/* ------------------------
				Ace Editor Menu
-------------------------*/
.ace_editor.ace_autocomplete {
  background: #191919 !important;
}
.ace_autocomplete .ace_content .ace_line {
  color: #d7d7d7 !important;
}
.ace_autocomplete .ace_content .ace_completion-highlight {
  color: #d7d7d7 !important;
}
.ace_editor.ace_autocomplete .ace_marker-layer .ace_active-line {
  background-color: #1e90ff !important;
}
.ace_autocomplete .ace_content .ace_line:hover {
  border-top: 1px solid #fff !important;
  border-bottom: 1px solid #fff !important;
}
.ace_editor .ace_line-hover {
  background-color: rgba(0, 0, 0, 0.0) !important;
  border-color: #1480b1 !important;
}
/* -------------------------
				Modal
--------------------------*/
.white_box, .config_box, .plugin_box, .users_box, .connection_list, .dashboard_unit_list, .dashboard_unit, .dashboard_unit_test, .console_command_history, .query_command_history {
  border: 1px solid #484a55 !important;
  background-color: #25282c !important;
  box-shadow: none !important;
  color: #ffffff;
}
.modal_background_dark {
  color: #d7d7d7 !important;
  background: rgba(0, 0, 0, 0.6) !important;
}
.table-resultset, .explain-plan-toolbar, .dashboard_unit {
  color: #d7d7d7 !important;
}

/*
.div_alert_buttons button {
  background: #17171f;
  background-image: -webkit-linear-gradient(top, #0b394e, #17171f);
  background-image: -moz-linear-gradient(top, #0b394e, #17171f);
  background-image: -ms-linear-gradient(top, #0b394e, #17171f);
  background-image: -o-linear-gradient(top, #0b394e, #17171f);
  background-image: linear-gradient(to bottom, #0b394e, #17171f);
  border: solid #0e678f 1px;
  color: #d7d7d7;
}
.div_alert_buttons button:hover {
  color: #f8f8f8;
  background: #1e90ff;
}*/
a.modal-closer {
    color: #ffffff !important;
    border: 1px solid #1e90ff !important;
    background-color: #1e90ff !important;
}
a.modal-closer:hover {
    background-color: #303030 !important;
    color: #ffffff !important;
    border: 1px solid #6d6d6d !important;
}
button {
  background: #25282c;
  border: solid #484a55 1px;
  color: #ffffff;
}
button:hover {
  color: #fff !important;
  background: #1e90ff !important;
}
#plugin_file_label {
  background: #25282c;
  border: solid #484a55 1px;
  color: #ffffff;
}
#plugin_file_label:hover {
  color: #fff !important;
  background: #1e90ff !important;
}
input, textarea {
    background-color: #1d1f21 !important;
	color: #d7d7d7 !important;
	border-color: #484a55 !important;
}

.cellNew {
	background-color: rgb(125, 187, 109) !important;
	color: #000 !important;
}

.cellEdit {
	background-color: rgb(187, 174, 109) !important;
	color: #000 !important;
}

.cellRemove {
	background-color: rgb(187, 109, 109) !important;
	color: #000 !important;
}

.cellReadOnly {
	background-color: rgb(47, 49, 51) !important;
	color: #969696 !important;
}
.conversion_table {
	color: #d7d7d7;
}
.even_tr {
	background-color: #484a55;
}
.progress {
    background-color: #484a55;
    border: 1px solid #6d6d6d;
}

.resize_line_horizontal {
	border-bottom: 1px dotted #616771 !important;
}
.resize_line_vertical {
	border-right: 1px dotted #616771 !important;
}

.div_chat_header_default {
	background-color: #1d1f21 !important;
}

.div_chat_header_blink {
	background-color: rgb(255, 147, 15) !important;
}

.query_result {
  color: #d7d7d7;
}

#popup_chat {
    color: white;
}

.popup-header {
    background: #25282c !important;
    border-bottom: 2px solid #6d6d6d !important;
}

#div_chat_left {
    background-color: rgb(72, 74, 85) !important;
}

#div_chat_right_left {
    background-color: #1d1f21 !important;
}

#div_chat_right_right {
    background-color: #1d1f21 !important;
}

.modal_content {
    background-color: rgb(72, 74, 85) !important;
    color: white !important;
}

.context_menu {
    background-color: #191919 !important;
    background-color: rgb(72, 74, 85) !important;
}

.context_menu_item:hover {
    background-color: #1e90ff !important;
}

.div_chat_right_left_footer_left_options {
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    background-color: rgb(72, 74, 85) !important;
    color: black !important;
}

#div_chat_right_left_pre_header {
    background-color: rgb(72, 74, 85) !important;
}

.div_chat_message_attachment_container {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgb(72, 74, 85) !important;
}

#horizontal-resize-line {
    position: absolute;
    float: left;
    width: 0px;
    height: 100vh;
    border-left: 1px dashed white;
    box-sizing: border-box;
    top: 0;
    z-index: 99999;
}

#vertical-resize-line {
    position: absolute;
    float: left;
    width: 100vw;
    height: 0px;
    border-top: 1px dashed white;
    box-sizing: border-box;
    left: 0;
    z-index: 99999;
}

.fa-light {
  color: #ffffff !important;
}

.icon-tab-title {
  color: #ffffff !important;
}

.icon-group {
  color: #50a8ff !important;
}

.icon-conn-string {
  color: #50a8ff !important;
}

.node-all {
  color: #ececec !important;
}

.shortcut_block_title {
    border-bottom: 1px dashed #484a55 !important;
}

.checkmark {
    background-color: #25282c !important;
    border: 1px solid #585858 !important;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #47505d;
    cursor: pointer;
}

.error_text {
  color: #ffffff !important;
}

i.action-check {
    color: #1cf58a !important;
}

i.action-test {
    color: #a2b1bf !important;
}

/* Workspace Connection Info */
.connection_details {
    background-color: #1e90ff !important;
}



#div_autocomplete {
    background: #25282c;
    box-shadow: none !important;
    border-top: 1px solid #484a55;
    border-left: 1px solid #484a55;
    border-right: 1px solid #484a55;
    color: white;
}

.div_autocomplete_row {
    border-bottom: 1px solid #484a55;
}

.div_autocomplete_type {
  border-right: 1px solid #484a55;
}

.div_autocomplete_data {
  background-color: #1d1f21;
}

#div_autocomplete .handsontable tr {
    background-color: #1d1f21;
}

#div_autocomplete .handsontable tr:nth-of-type(2n) td {
    color: #ffffff;
    border-right: 1px transparent !important;
    border-bottom: 1px transparent !important;
}

#div_autocomplete .handsontable tr:nth-of-type(2n + 1) td {
    color: #ffffff;
    border-right: 1px transparent !important;
    border-bottom: 1px transparent !important;
}

#div_autocomplete .handsontable tr:first-child th, #div_autocomplete .handsontable tr:first-child td {
    border-top: 1px transparent !important;
}

#div_autocomplete .handsontable th:first-child, #div_autocomplete .handsontable td:first-of-type, #div_autocomplete .handsontable .htNoFrame + th, #div_autocomplete .handsontable .htNoFrame + td {
    border-left: 1px transparent !important;
}

.div_autocomplete_data_word {
    background-color: #25282c;
    border: 1px solid #484a55;
}

.div_autocomplete_data_row_selected {
    background-color: #4e5a6b !important;
}

#div_autocomplete .handsontable tr:hover {
    background-color: #4e5a6b !important;
}

.div_autocomplete_data_row:hover, .div_autocomplete_data_word:hover, .div_autocomplete_data_row_selected:hover {
    border: 1px solid #484a55 !important;
    background-color: #4e5a6b !important;
}
