body {
  background-color: #17171f;
}
div.header {
  background-color: #1a1a1d;
}
.header .header_a_selected {
  background-color: #333;
}
.header_menu a {
  background-color: #1a1a1d;
}
.header .header_a_selected:hover,
.header_menu a:hover {
  color: #f8f8f8;
  background: #1e90ff;
}
/* --------------------
			Right Div
---------------------*/
/* Right Div Colors */
.div_right #tabs {
    border: 1px solid #0e678f;
}
.query_info {
    color: #2ba2c8;
}
div > div.tab {
  background-color: #17171f !important;
}

.div_tabs, .ace_editor {
  border: 1px solid #0e678f !important;
}

.tabs {
  background: #17171f;
  background-image: -webkit-linear-gradient(top, #0b394e, #17171f);
  background-image: -moz-linear-gradient(top, #0b394e, #17171f);
  background-image: -ms-linear-gradient(top, #0b394e, #17171f);
  background-image: -o-linear-gradient(top, #0b394e, #17171f);
  background-image: linear-gradient(to bottom, #0b394e, #17171f);
  color: #e5eef8;
}
.tabs > li {
  background-color: #0e0f2b !important;
  color: #e5eef8;
  border: 1px solid #0e678f;
}
/* Handsontables */
.handsontable th .relative {
  color: #2ba2c8;
}
.tab > select {
  background: #17171f;
  background-image: -webkit-linear-gradient(top, #0b394e, #17171f);
  background-image: -moz-linear-gradient(top, #0b394e, #17171f);
  background-image: -ms-linear-gradient(top, #0b394e, #17171f);
  background-image: -o-linear-gradient(top, #0b394e, #17171f);
  background-image: linear-gradient(to bottom, #0b394e, #17171f);
  border: solid #0e678f 1px;
  color: #2ba2c8;
}
.handsontable th {
  color: #2bb2d8 !important;
  border-left: 1px solid #0e678f !important;
  border-right: 1px solid #0e678f !important;
  border-top: 1px solid #0e678f !important;
  border-bottom: 1px solid #0e678f !important;
  background-color: #1d1d1d !important;
}
.handsontable tr:nth-of-type(2n + 1) td {
  color: #2bb2d8 !important;
  border-left: 1px solid #0e678f !important;
  border-right: 1px solid #0e678f !important;
  border-top: 1px solid #0e678f !important;
  border-bottom: 1px solid #0e678f !important;
  background-color: #1d1d1d !important;
}
.handsontable tr:nth-of-type(2n) td {
  color: #2bb2d8 !important;
  border-left: 1px solid #0e678f !important;
  border-right: 1px solid #0e678f !important;
  border-top: 1px solid #0e678f !important;
  border-bottom: 1px solid #0e678f !important;
  background-color: #1d1d1d !important;
}
/* --------------------
			White Box
---------------------*/
/* Handsontables */

/* --------------------
			Left Div
---------------------*/
/* Connection Selector */
.div_left .dd {
  border: 1px solid #0e678f;
}
.div_left .ddTitle {
  color: #27b2cc;
  background: #17171f;
  background-image: -webkit-linear-gradient(top, #0b394e, #17171f);
  background-image: -moz-linear-gradient(top, #0b394e, #17171f);
  background-image: -ms-linear-gradient(top, #0b394e, #17171f);
  background-image: -o-linear-gradient(top, #0b394e, #17171f);
  background-image: linear-gradient(to bottom, #0b394e, #17171f);
}
.div_left .dd .divider {
  border-left: 1px solid #0e678f;
  border-right: 1px solid #0e678f;
}
.div_left .dd .ddChild li.selected {
  background-color: #05052b
}
.div_left .dd .ddChild li {
  background-color: #1b1b36;
  color: #e6e1dc;
}
.div_left .dd .ddChild li .ddlabel {
  color: #0e678f;
}
/* Tree Component */
.div_left ul.tree {
  background-color: #17171f;
}
.div_left ul.tree li.last {
  background-color: #17171f !important;
}
.tree a {
  color: #27b2d8;
}
.div_left .node:hover {
  background-color: blue;
}
.div_left span.node_selected {
  background-color: #24243c;
  border: 1px solid #074561;
}
/* ----------------------
				Aimara Menu
-----------------------*/
.aimara_menu,
.aimara_sub-menu {
  color: #2bb2d8;
  background-color: #191919;
  border-color: #2bb2d8;
}
.aimara_menu li:hover,
.aimara_sub-menu li:hover {
  background-color: #262667;
}
/* -----------------------
				Handsontables Menu
------------------------*/
.htContextMenu .wtSpreader table.htCore {
  border-color: #2bb2d8;
}
.htContextMenu .wtSpreader table.htCore div {
  color: #2bb2d8;
}
.htContextMenu .wtSpreader table.htCore td {
  background-color: #191919;
}
.htContextMenu .wtSpreader table.htCore td:hover {
  background-color: #262667;
}
/* ------------------------
				Ace Editor Menu
-------------------------*/
.ace_editor.ace_autocomplete {
  background: #191919 !important;
}
.ace_autocomplete .ace_content .ace_line {
  color: #2bb2d8;
}
.ace_autocomplete .ace_content .ace_completion-highlight {
  color: #2bb2d8 !important;
}
.ace_editor.ace_autocomplete .ace_marker-layer .ace_active-line {
  background-color: #262667 !important;
}
.ace_autocomplete .ace_content .ace_line:hover {
  border-top: 1px solid #fff !important;
  border-bottom: 1px solid #fff !important;
}
.ace_editor .ace_line-hover {
  background-color: rgba(7, 164, 235, 0.6) !important;
  border-color: #1480b1 !important;
}
/* -------------------------
				Modal
--------------------------*/
.white_box {
  border: 1px solid #2bb2d8;
  background-color: #24243c;
}
.modal_background_dark {
  color: #2bb2d8;
  background: rgba(146, 165, 171, 0.4);
}
/*
.div_alert_buttons button {
  background: #17171f;
  background-image: -webkit-linear-gradient(top, #0b394e, #17171f);
  background-image: -moz-linear-gradient(top, #0b394e, #17171f);
  background-image: -ms-linear-gradient(top, #0b394e, #17171f);
  background-image: -o-linear-gradient(top, #0b394e, #17171f);
  background-image: linear-gradient(to bottom, #0b394e, #17171f);
  border: solid #0e678f 1px;
  color: #2ba2c8;
}
.div_alert_buttons button:hover {
  color: #f8f8f8;
  background: #1e90ff;
}*/
a.modal-closer {
    position: absolute;
    display: block;
    width: 39px;
    height: 39px;
    right: -20px;
    top: -20px;
    cursor: pointer;
    z-index: 1000;
    border-radius: 20px;
    color: #24243c;
    border: 1px solid #24243c;
    background-color: #2bb2d8;
    text-align: center;
    line-height: 33px;
    font-size: 32px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: 500;
}
a.modal-closer:hover {
    background-color: #24243c;
    color: #f8f8f8;
    border-color: #f8f8f8;
}
button {
  background: #17171f;
  background-image: -webkit-linear-gradient(top, #0b394e, #17171f);
  background-image: -moz-linear-gradient(top, #0b394e, #17171f);
  background-image: -ms-linear-gradient(top, #0b394e, #17171f);
  background-image: -o-linear-gradient(top, #0b394e, #17171f);
  background-image: linear-gradient(to bottom, #0b394e, #17171f);
  border: solid #0e678f 1px;
  color: #2ba2c8;
}
button:hover {
  color: #f8f8f8;
  background: #1e90ff;
}
.white_box input {
    background-color: #17171f !important;
	color: #2ba2c8;
	border-color: #2ba2c8;
}

#horizontal-resize-line {
    position: absolute;
    float: left;
    width: 0px;
    height: 100vh;
    border-left: 1px dashed black;
    box-sizing: border-box;
    top: 0;
    z-index: 99999;
}

#vertical-resize-line {
    position: absolute;
    float: left;
    width: 100vw;
    height: 0px;
    border-top: 1px dashed black;
    box-sizing: border-box;
    left: 0;
    z-index: 99999;
}
