body {
  background-color: #373b41 !important;
}
div.header {
  background-color: #1a1a1d !important;
}
.header .header_a_selected {
  background-color: #1e90ff !important;
}
.header_menu a {
  background-color: #1a1a1d !important;
}
.header .header_a_selected:hover,
.header_menu a:hover {
  color: #f8f8f8 !important;
  background: #1e90ff !important;
}
/* --------------------
			Div Loading
---------------------*/
.div_loading {
	background: rgba(0, 0, 0, 0.6) url(../../images/loading.svg) 50% 50% no-repeat !important;
}

.div_right div > div.tab {
  background-color: #525252 !important;
}
/* --------------------
			Conn Tabs
---------------------*/
.conn_tabs div > div.tab, .white_box div > div.tab {
  background-color: #484a55 !important;
}
.conn_tabs .div_tabs, .white_box .div_tabs, .ace_editor {
  border: 1px solid #6d6d6d !important;
}
.conn_tabs .tabs, .white_box .tabs {
  background: #25282c !important;
}
.conn_tabs .tabs > li, .white_box .tabs > li {
  background-color: #484a55 !important;
  color: #d7d7d7 !important;
  font-weight: bold;
}
/* --------------------
			Right Div
---------------------*/
/* Right Div Colors */
.query_info {
    color: #d7d7d7 !important;
}
.div_right div > div.tab {
  background-color: #373b41 !important;
}

.div_right .div_tabs, .ace_editor {
  border: 1px solid #6d6d6d !important;
}

.div_right .tabs {
  background: #25282c !important;
}
.div_right .tabs > li {
  background-color: #373b41 !important;
  color: #d7d7d7 !important;
}
/* Handsontables */
.handsontable th .relative {
  color: #d7d7d7 !important;
}
select {
  background: #373b41 !important;
  border: solid #6d6d6d 1px !important;
  color: #d7d7d7 !important;
}
.handsontable th {
  color: #2bb2d8 !important;
  background-color: #25282c !important;
}
.handsontable tr:nth-of-type(2n + 1) td {
  color: #c5c5c5;
  border-right: 1px solid #484a55 !important;
  border-bottom: 1px solid #484a55 !important;
  background-color: #1d1f21;
}
.handsontable tr:nth-of-type(2n) td {
  color: #c5c5c5;
  border-right: 1px solid #484a55 !important;
  border-bottom: 1px solid #484a55 !important;
  background-color: #1d1f21;
}

.handsontable tr:first-child th, .handsontable tr:first-child td {
  border-top: 1px solid #484a55 !important;
}

.handsontable th:first-child, .handsontable td:first-of-type, .handsontable .htNoFrame + th, .handsontable .htNoFrame + td {
  border-left: 1px solid #484a55 !important;
}

.handsontable th:last-child {
  border-right: 1px solid #484a55 !important;
  border-bottom: 1px solid #484a55 !important;
}

.handsontable th, .handsontable td {
  border-right: 1px solid #484a55 !important;
  border-bottom: 1px solid #484a55 !important;
}

.handsontable.htRowHeaders thead tr th:nth-child(2) {
  border-left: 1px solid #484a55 !important;
}

.handsontable input, .handsontable textarea {
  background-color: #1b1b1b !important;
  color: #fff !important;
}
.handsontable .wtBorder.corner {
  border: 2px solid #5292f7 !important;
}
.handsontable td.area {
  background: #274e73 !important;
}
.handsontable.listbox .ht_master table {
    color: #d7d7d7 !important;
    border: 1px solid #484a55 !important;
    border-collapse: separate;
    background: red;
}
.handsontable.listbox tr td.current, .handsontable.listbox tr:hover td {
	background-color: #1e90ff !important;
	color: #fff !important;
}
.ace_rightAlignedText {
	color: #d7d7d7 !important;
}
/* --------------------
			White Box
---------------------*/
/* Handsontables */

/* --------------------
			Left Div
---------------------*/
/* Connection Selector */
.dd {
  border: 1px solid #6d6d6d !important;
}
.div_left .ddTitle {
  color: #d7d7d7 !important;
  background: #373b41 !important;
}
.ddTitle span {
  font-weight: bold !important;

}
.div_left .dd .divider {
  border-left: 1px solid #6d6d6d !important;
  border-right: 0px solid #6d6d6d !important;
}
.div_left .dd .ddChild li.selected {
  background-color: #25282c !important;
}
.div_left .dd .ddChild li {
  background-color: #25282c !important;
  color: #d7d7d7 !important;
}
.div_left .dd .ddChild li .ddlabel {
  color: #d7d7d7 !important;
}
.div_left .dd .ddChild li {
    border-bottom: 1px solid #6d6d6d !important;
}
.div_left .dd .ddChild {
    border: 1px solid #6d6d6d !important;
}
/* Tree Component */
.div_left ul.tree {
  background-color: #484a55 !important;
  font-weight: bold;
}
.div_left ul.tree li.last {
  background-color: #484a55 !important;
}
.div_left .node:hover {
  background-color: #1e90ff !important;
}
.div_left .node:hover a {
  color: white !important;
}
.div_left .node a {
  color: #d7d7d7 !important;
}
.div_left span.node_selected {
  background-color: #1e90ff !important;
  border: 1px solid #1e90ff !important;
  color: white !important;
}

.div_left h2 {
	color: #d7d7d7 !important;
}
/* ----------------------
				Aimara Menu
-----------------------*/
.aimara_menu,
.aimara_sub-menu {
  color: #d7d7d7 !important;
  background-color: #191919 !important;
  border-color: #6d6d6d !important;
}
.aimara_menu li:hover,
.aimara_sub-menu li:hover {
  background-color: #1e90ff !important;
  color: white !important;
}
/* -----------------------
				Handsontables Menu
------------------------*/
.htContextMenu .wtSpreader table.htCore {
  border-color: #6d6d6d !important;
}
.htContextMenu .wtSpreader table.htCore div {
  color: #d7d7d7 !important;
}
.htContextMenu .wtSpreader table.htCore td {
  background-color: #191919 !important;
}
.htContextMenu .wtSpreader table.htCore td:hover {
  background-color: #1e90ff !important;
}
/* ------------------------
				Ace Editor Menu
-------------------------*/
.ace_editor.ace_autocomplete {
  background: #191919 !important;
}
.ace_autocomplete .ace_content .ace_line {
  color: #d7d7d7 !important;
}
.ace_autocomplete .ace_content .ace_completion-highlight {
  color: #d7d7d7 !important;
}
.ace_editor.ace_autocomplete .ace_marker-layer .ace_active-line {
  background-color: #1e90ff !important;
}
.ace_autocomplete .ace_content .ace_line:hover {
  border-top: 1px solid #fff !important;
  border-bottom: 1px solid #fff !important;
}
.ace_editor .ace_line-hover {
  background-color: rgba(0, 0, 0, 0.0) !important;
  border-color: #1480b1 !important;
}
/* -------------------------
				Modal
--------------------------*/
.white_box {
  border: 1px solid #6d6d6d !important;
  background-color: #25282c !important;
}
.modal_background_dark {
  color: #d7d7d7 !important;
  background: rgba(0, 0, 0, 0.6) !important;
}
/*
.div_alert_buttons button {
  background: #17171f;
  background-image: -webkit-linear-gradient(top, #0b394e, #17171f);
  background-image: -moz-linear-gradient(top, #0b394e, #17171f);
  background-image: -ms-linear-gradient(top, #0b394e, #17171f);
  background-image: -o-linear-gradient(top, #0b394e, #17171f);
  background-image: linear-gradient(to bottom, #0b394e, #17171f);
  border: solid #0e678f 1px;
  color: #d7d7d7;
}
.div_alert_buttons button:hover {
  color: #f8f8f8;
  background: #1e90ff;
}*/
a.modal-closer {
    position: absolute;
    display: block;
    width: 25px;
    height: 25px;
    right: -15px;
    top: -15px;
    cursor: pointer;
    z-index: 1000;
    border-radius: 20px;
    color: #ffffff !important;
    border: 1px solid #1e90ff !important;
    background-color: #1e90ff !important;
    text-align: center;
    line-height: 23px;
    font-size: 16px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: 500;
}
a.modal-closer:hover {
    background-color: #303030 !important;
    color: #ffffff !important;
    border: 1px solid #6d6d6d !important;
}
button {
  background: #373b41 !important;
  border: solid #6d6d6d 1px !important;
  color: #d7d7d7 !important;
}
button:hover {
  color: #fff !important;
  background: #1e90ff !important;
  border: solid #1e90ff 1px !important;
}
input {
    background-color: #1d1f21 !important;
	color: #d7d7d7 !important;
	border-color: #6d6d6d !important;
}

.cellNew {
	background-color: rgb(125, 187, 109) !important;
	color: #000 !important;
}

.cellEdit {
	background-color: rgb(187, 174, 109) !important;
	color: #000 !important;
}

.cellRemove {
	background-color: rgb(187, 109, 109) !important;
	color: #000 !important;
}

.cellReadOnly {
	background-color: rgb(47, 49, 51) !important;
	color: #969696 !important;
}
.conversion_table {
	color: #d7d7d7;
}
.even_tr {
	background-color: #484a55;
}
.progress {
    background-color: #484a55;
    border: 1px solid #6d6d6d;
}

.resize_line_horizontal {
	border-bottom: 1px dotted #6d6d6d !important;
}
.resize_line_vertical {
	border-right: 1px dotted #6d6d6d !important;
}

#div_chat {
	color: #bfc1c0 !important;
	border: 1px solid #6d6d6d !important;
}

#div_chat_header {
    border-bottom: 1px solid #6d6d6d !important;
}

#div_chat_left_panel {
	border-right: 1px solid #6d6d6d !important;
	background: #25282c !important;
}

#div_chat_content {
	background: #25282c !important;
	color: #4D4D4C !important;
}

#div_chat_footer {
	border-top: 1px solid #6d6d6d !important;
	background: #25282c !important;
}

.div_message_time {
	color: #dddddd !important;
}

.div_user {
	border-bottom: 1px solid #6d6d6d !important;
}

.div_message_user {
	color: #777777 !important;
}

.div_message_text {
	color: #C5C8C6 !important;
}

#textarea_chat_message {
	background-color: #1d1f21 !important;
	color: #C5C8C6 !important;
}

.div_chat_header_default {
	background-color: #1d1f21 !important;
}

.div_chat_header_blink {
	background-color: rgb(255, 147, 15) !important;
}

.query_result {
  color: #d7d7d7;
}

#horizontal-resize-line {
    position: absolute;
    float: left;
    width: 0px;
    height: 100vh;
    border-left: 1px dashed black;
    box-sizing: border-box;
    top: 0;
    z-index: 99999;
}

#vertical-resize-line {
    position: absolute;
    float: left;
    width: 100vw;
    height: 0px;
    border-top: 1px dashed black;
    box-sizing: border-box;
    left: 0;
    z-index: 99999;
}
