.cellNew {
	background-color: rgb(206, 255, 209) !important;
}

.cellEdit {
	background-color: rgb(255, 251, 215) !important;
}

.cellRemove {
	background-color: rgb(255, 213, 213) !important;
}

.cellReadOnly {
	background-color: rgb(242, 242, 242) !important;
}

.cellEven {
	background-color: rgb(234, 237, 249) !important;
}

#horizontal-resize-line {
    position: absolute;
    float: left;
    width: 0px;
    height: 100vh;
    border-left: 1px dashed black;
    box-sizing: border-box;
    top: 0;
    z-index: 99999;
}

#vertical-resize-line {
    position: absolute;
    float: left;
    width: 100vw;
    height: 0px;
    border-top: 1px dashed black;
    box-sizing: border-box;
    left: 0;
    z-index: 99999;
}
