/*
Copyright 2015-2017 The OmniDB Team

This file is part of OmniDB.

OmniDB is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

OmniDB is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with OmniDB. If not, see http://www.gnu.org/licenses/.
*/

.fa-light {
  color: #177ce0;
}

i.tab-icon {
  display: inline-block;
  margin-left: 6px;
  font-size: 12px;
  line-height: 16px;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

i.icon-key-large {
  color: #177ce0;
  font-size: 40px;
  margin-top: 20px;
}

i.icon-tab-title {
  color: #177ce0;
  line-height: 16px;
  font-size: 12px;
  line-height: 16px;
  vertical-align: middle;
  display: inline-block;
  margin-right: 6px;
}

i.icon-group {
  color: #177ce0;
}

i.icon-conn-string {
  color: #177ce0;
  font-size: 9px;
}

i.icon-close {
  color: #d85656;
}

i.icon-check {
  color: #1f8e79;
  width: 16px;
}

i.tab-status {
  cursor: pointer;
}

i.tab-status-closed {
  color: gray
}

i.tab-status-idle {
  color: #2cb32c;
}

i.tab-status-running {
  color: #2196f3;
}

i.tab-status-idle_in_transaction {
  color: orange
}

i.tab-status-idle_in_transaction_aborted {
  color: red
}
