/*
Copyright 2015-2017 The OmniDB Team

This file is part of OmniDB.

OmniDB is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

OmniDB is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with OmniDB. If not, see http://www.gnu.org/licenses/.
*/

/* TYPOGRAPHY */
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Regular.ttf'), /* IE9 Compat Modes */
       url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Mono';
  src: url('../fonts/RobotoMono/RobotoMono-Regular.ttf'), /* IE9 Compat Modes */
       url('../fonts/RobotoMono/RobotoMono-Regular.ttf') format('truetype');
}
body {
  font-family: 'Roboto', sans-serif;
}

/* Worskpace HEADER */
div.header {
  margin-bottom:0px;
}
div.header_menu a {
    font-family: 'Roboto', sans-serif;
}

/* Workspace container */
div.div_tabs {
  padding: 0px;
  border: none;
  border-radius: 0px;
}

/* Workspace TABS */
ul.tabs {
    font-family: 'Roboto', sans-serif;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
ul.tabs li {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

/* Workspace Connection Info */
.connection_details {
    margin-top: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    color: #FFFFFF;
    background-color: #4e72ab;
    border-bottom: none;
}
.borderRadius,
div.borderRadius,
.borderRadiusTp,
div.borderRadiusTp {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.dd .ddTitle,
.dd div.ddTitle {
    background: #F2F2F2;
    background-color: #F2F2F2;
    background-image: none;
}
.dd .ddTitle span.ddTitleText {
    padding: 5px 5px 5px 5px;
    border-right: 24px solid #a9aeb5;
    transition: 0.45s;
}
.dd span.divider {
    border-color: transparent;
}
.dd span.ddArrow {
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    right: 6px;
    background: none;
    background-image: none;
    background-color: #a9aeb5;
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 0 3px 3px 0;
    transition: 0.45s;
}

/* Workspace Connection Info Interaction */
.dd div.ddTitle:hover span.ddArrow {
    border-color: #a9aeb5;
    background-color: #e2e2e2;
}
.dd div.ddTitle:hover span.ddTitleText {
    border-color: #e2e2e2;
}
.dd .ddChild ul li.selected {
    background-color: #e2e2e2;
}

/* Connection Tree */
ul span.node {
  /*padding-top: 1px;
  padding-bottom: 1px;*/
}
ul span.node_selected {
}

/* Modals */
div.connection_list {
    margin-left: auto;
    margin-right: auto;
    left: 5px;
    right: 5px;
}
a.modal-closer,
.modal_background_dark a.modal-closer {
    top: 0px;
    right: 0px;
    background-color: #ff4d4d;
    border-radius: 0px;
    border: 1px solid #ff4d4d;
    transition: 0.45s;
    transform: scaleY(0.9) translateY(-1px);
    padding: 2px;
    line-height: 16px;
}
a.modal-closer:hover,
.modal_background_dark a.modal-closer:hover {
    color: #ff4d4d;
    background-color: #FFFFFF;
}
.config_box {
  border: none;
  box-shadow: none;
}

/* Handson Tables */
.handsontable thead th {
    background-color: #4e73ab;
    color: #FFFFFF;
}
.handsontable tbody th.ht__highlight,
.handsontable thead th.ht__highlight {
    color: #000000;
}

/* BUTTONS WITH ICONS ONLY */
button.bt_icon_only,
button.bt_export {
    background: transparent;
    background-color: transparent;
    border: none;
    transition: 0.45s;
}
button.bt_icon_only:hover,
button.bt_export:hover {
  background-color: #E2E2E2;
}

input, select.sel_export_file_type {
  background: #f2f2f2;
  border-radius: 0px;
}

#plugin_file_label {
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
  background: #177ce0;
  border-radius: 0px;
  cursor: pointer;
  font-size: 12px;
  height: 28px;
  line-height: 28px;
  padding-left: 12px;
  padding-right: 12px;
  border: solid #177ce0 1px;
  text-decoration: none;
  display: inline-block;
}
#plugin_file_label:hover {
    color: #177ce0;
    background-color: #FFFFFF;
}

#plugin_file_selector {
  display: none;
}

/* QUERY INFO */
button {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    background: #177ce0;
    border-radius: 0px;
    border: 1px solid #177ce0;
}
button:hover {
    color: #177ce0;
    background-color: #FFFFFF;
}
button.bt_red {
    font-family: 'Roboto', sans-serif;
    border-radius: 0px;
    background: #FF4040;
    border: 1px solid #FF4040;
    transition: 0.45s;
}
button.bt_red:hover {
    color: #FF4040;
    background: #FFFFFF;
}

div.query_info_summary .query_info_row {
    line-height: 14px;
}
div.query_info_summary strong {
    color: #4a6796;
}

.query_info {
  font-size: 11px;
}

/*Workspace Ace-Editor */
 div.ace_editor.ace-omnidb {
   font-family: 'Roboto Mono', monospace;
 }


/* Checkbox */
.custom_checkbox {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  font-size: 11px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 22px;
  display: inline-block;
}

.custom_checkbox input {
  position: absolute;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fcfdfd;
  border: 1px solid #177ce0;
}

.custom_checkbox:hover input ~ .checkmark {
  background-color: #e4e4e4;
}

.custom_checkbox input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.custom_checkbox input:checked ~ .checkmark:after {
  display: block;
}

.custom_checkbox .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 9px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#div_autocomplete {
  position: absolute;
  display: none;
  width: 400px;
  top: 0;
  left: 0;
  background: #F1F1F1;
  box-shadow: 1px 1px 1px rgba(123, 123, 123, 0.36);
  border-top: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-radius: 2px;
  z-index: 9999;
}

#div_autocomplete_scroll {
  overflow: auto;
  position: relative;
}

#div_test_length {
  position: absolute;
  visibility: hidden;
  height: auto;
  width: auto;
  white-space: nowrap;
}

#div_autocomplete_input {
  border: 0px;
  height: 30px;
  border-bottom: 1px solid lightgray;
  border-radius: 0px;
  width: 100%;
  font-size: 11px;
}

#div_autocomplete_input2 {
  border: 0px;
  height: 30px;
  border-top: 1px solid lightgray;
  border-radius: 0px;
  width: 100%;
  font-size: 11px;
}

#div_autocomplete_noresults {
  font-size: 18px;
  margin: 10px;
  display: none;
}

.div_autocomplete_row {
  display: none;
  height: 80px;
  border-bottom: 1px solid lightgray;
  position: relative;
}

.div_autocomplete_type {
  width: 80px;
  height: 80px;
  float: left;
  text-align: center;
  border-right: 1px solid lightgray;
  box-sizing: border-box;
  padding-top: 9px;
}

.div_autocomplete_type i {
  font-size: 30px;
  margin: 3px 0px;
}

.div_autocomplete_data {
  height: 80px;
  /* Firefox */
  width: -moz-calc(100% - 80px);
  /* WebKit */
  width: -webkit-calc(100% - 80px);
  /* Opera */
  width: -o-calc(100% - 80px);
  /* Standard */
  width: calc(100% - 80px);
  float: right;
  overflow: auto;
  background-color: #fbfbfb;
  box-sizing: border-box;
  position: relative;
}

.div_autocomplete_data_row {
  height: 20px;
  line-height: 20px;
  padding: 0px 5px;
  box-sizing: border-box;
  border: 1px solid #fbfbfb;
}

.div_autocomplete_data_word {
  height: 20px;
  line-height: 20px;
  padding: 0px 5px;
  box-sizing: border-box;
  background-color: #ececec;
  border: 1px solid #cacaca;
  margin: 4px 0px 0px 4px;
  display: inline-block;
}

.div_autocomplete_data_row_left {
  float: left;
}

.div_autocomplete_data_row_right {
  float: right;
  font-style: italic;
}

.div_autocomplete_data_row_selected {
  background-color: #c7d6ff !important;
}

.div_autocomplete_data_row:hover, .div_autocomplete_data_word:hover, .div_autocomplete_data_row_selected:hover {
  padding: 0px 5px;
  border: 1px solid #5278de;
  background-color: #c7d6ff;
  cursor: pointer;
}

#div_autocomplete .handsontable tr:hover {
  background-color: #c7d6ff;
  cursor: pointer;
}

#div_autocomplete .htDimmed {
  color: #000000;
}

#div_autocomplete .handsontable tr {
  background-color: #fbfbfb;
  border-left: none;
}

#div_autocomplete .handsontable th, #div_autocomplete .handsontable td {
  background-color: inherit;
  border-left: none;
  border-right: none;
  border-bottom: none;
  padding-right: 5px;
}

#div_autocomplete .handsontable tr:first-child th, #div_autocomplete .handsontable tr:first-child td {
  border-top: none;
}

.tab-status-text {
  margin: 0px 10px;
}

.tab_actions {
  margin-bottom: 5px;
  height: 30px;
}
