/*
Copyright 2015-2017 The OmniDB Team

This file is part of OmniDB.

OmniDB is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

OmniDB is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with OmniDB. If not, see http://www.gnu.org/licenses/.
*/
.node-all {
  color: #22477d;
}

.cm-all {
  color: #177ce0;
  font-size: 16px;
}

.node-spin {
  background-image: url("/static/OmniDB_app/images/omnidb_loading.svg");
  background-size: 16px;
}

.node-postgresql {
  background-image: url("/static/OmniDB_app/images/postgresql_medium.png")
}

.node-oracle {
  background-image: url("/static/OmniDB_app/images/oracle_medium.png")
}

.node-mysql {
  background-image: url("/static/OmniDB_app/images/mysql_medium.png")
}

.node-mariadb {
  background-image: url("/static/OmniDB_app/images/mariadb_medium.png")
}

.aimara-expand {
  background-image: url("/static/OmniDB_app/images/expand.png")
}

.aimara-collapse {
  background-image: url("/static/OmniDB_app/images/collapse.png")
}

.node-error {
  color: #d85656;
}

.node-keyword {
  color: #cc933f;
}

.node-database-list {
  color: #177ce0;
}

.node-database {
  color: #177ce0;
}

.node-snippet-list {
  color: #177ce0;
}

.node-snippet-folder {
  color: #344E75;
}

.node-snippet-snippet {
  color: #1f8e79;
}

.node-tablespace-list {
  color: #344E75;
}

.node-tablespace {
  color: #344E75;
}

.node-check-value {
  color: #344E75;
}

.node-user-list {
  color: #1f8e79;
}

.node-user {
  color: #1f8e79;
}

.node-repslot-list {
  color: #344E75;
}

.node-repslot {
  color: #344E75;
}

.node-schema-list {
  color: #1f8e79;
}

.node-schema {
  color: #1f8e79;
}

.node-extension-list {
  color: #344E75;
}

.node-extension {
  color: #344E75;
}

.node-fdw-list {
  color: #177ce0;
}

.node-fdw {
  color: #177ce0;
}

.node-server {
  color: #de5252;
}

.node-table-list {
  color: #177ce0;
}

.node-table {
  color: #177ce0;
}

.node-table_partitioned {
  color: #177ce0;
}

.node-table_partition {
  color: #177ce0;
}

.node-table_partitioned_partition {
  color: #177ce0;
}

.node-ftable-list {
  color: #344E75;
}

.node-sequence-list {
  color: #344E75;
}

.node-sequence {
  color: #344E75;
}

.node-view-list {
  color: #1f8e79;
}

.node-view {
  color: #1f8e79;
}

.node-mview-list {
  color: #344E75;
}

.node-mview {
  color: #344E75;
}

.node-function-list {
  color: #1f8e79;
}

.node-function {
  color: #1f8e79;
}

.node-function-field {
  color: #344E75;
}

.node-tfunction-list {
  color: #344E75;
}

.node-tfunction {
  color: #344E75;
}

.node-procedure-list {
  color: #177ce0;
}

.node-procedure {
  color: #177ce0;
}

.node-logrep {
  color: #344E75;
}

.node-publication-list {
  color: #1f8e79;
}

.node-subscription-list {
  color: #1f8e79;
}

.node-publication {
  color: #1f8e79;
}

.node-subscription {
  color: #1f8e79;
}

.node-column {
  color: #1f8e79;
}

.node-bullet {
  color: #344E75;
}

.node-pkey {
  color: #f59825;
}

.node-fkey {
  color: #737373;
}

.node-unique {
  color: #177ce0;
}

.node-check {
  color: #1f8e79;
}

.node-exclude {
  color: #c52a2a;
}

.node-index {
  color: #344E75;
}

.node-trigger {
  color: #1f8e79;
}

.node-rule {
  color: #f59825;
}

.node-inherited {
  color: #177ce0;
}

.node-partition {
  color: #344E75;
}

.node-type-list {
  color: #177ce0;
}

.node-type {
  color: #177ce0;
}

.node-domain-list {
  color: #344E75;
}

.node-domain {
  color: #344E75;
}
