/*
Copyright 2015-2017 The OmniDB Team

This file is part of OmniDB.

OmniDB is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

OmniDB is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with OmniDB. If not, see http://www.gnu.org/licenses/.
*/

html {
    overflow-y: scroll;
}

body {
	font-size: 11px;
	font-family: sans-serif;
	margin: 0px;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;
}

#div_form {
	position: absolute;
    width: 100%;
    height: 200px;
    top: 50%;
    margin-top: -110px;
    background-color: rgb(131, 158, 199);
    text-align;
}

#div_form input {
	border-radius: 2px;
    border: 0px;
    padding: 8px;
    background-color: white;
    margin: 10px;
    font-size: 12px;
}

input {
	border-radius: 2px;
    border: solid #d5d5d5 1px;
    padding: 8px;
    background-color: white;
}


#div_form img {
    margin: 10px;
}

#navlist
{
	margin: 5px;
	padding-left: 5px;
}

#navlist li
{
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}

#navlist a
{
	font-style: italic;
	font-size: 12px;
	text-decoration: none;
	color: white;
}

#compare_table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
}

#compare_table td, #compare_table th {
    height: 14px;
    font-size: 1em;
    font-weight: 100;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 3px 7px 2px 7px;
}

#compare_table th.th_green {
    height: 18px;
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: greenyellow;
    color: #406215;
}

#compare_table th.th_orange {
    height: 18px;
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: rgb(255, 204, 110);
    color: #406215;
}

#compare_table td.td_col_green {
    padding-left: 30px;
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #C2E069;
    color: #406215;
}

#compare_table th.th_red {
    height: 18px;
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: lightsalmon;
    color: rgb(82, 40, 23);
}

#compare_table td.td_col_red {
    padding-left: 30px;
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #FFA0A0;
    color: rgb(82, 40, 23);
}

#compare_table td.td_attr_green {1000
    padding-left: 60px;
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #A7C942;
    color: #406215;
}

#compare_table td.td_attr_red {
    padding-left: 60px;
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #F57E7E;
    color: rgb(82, 40, 23);
}

#compare_table td.td_attr_blue {
    padding-left: 60px;
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #5A9FE2;
    color: #000000;
}

#div_legend {
	z-index: 2000;
	border: 1px solid rgb(74, 143, 236);
	background-color: white;
	position: absolute;
	margin-top: 15px;
	margin-left: 15px;
}100001

.div_legend_color {
	width: 20px;
	height: 20px;
	display: inline-block;
	margin-right: 5px;
}

.p_legend_label {
	vertical-align: super;
	display: inline;
}

.li_legend {
	list-style-type: none;
}



.col {

	padding-left: 20px;

}



.attr {

	padding-left: 40px;

}



.div_green {

	background-color: greenyellow;

	display: table-cell;

	width: 250px;

	height: 23px;

	vertical-align: middle;

}



.div_col_blue {

	background-color: skyblue;

	display: table-cell;

	width: 250px;

	height: 23px;

	vertical-align: middle;

}



.div_col_green {

	background-color: greenyellow;

	display: table-cell;

	width: 250px;

	height: 23px;

	vertical-align: middle;

}



.div_red {

	background-color: lightsalmon;

	display: table-cell;

	width: 250px;

	height: 23px;

	vertical-align: middle;

}



.div_col_red {

	background-color: lightsalmon;

	display: table-cell;

	width: 250px;

	height: 23px;

	vertical-align: middle;

}

.error_text {
	font-family: monospace;
	font-weight: 500;
	color: red;
	-moz-user-select: text;
   -khtml-user-select: text;
   -webkit-user-select: text;
   -o-user-select: text;
   user-select: text;
   white-space: pre;
}

#div_query_info {
	//font-family: monospace;
	font-weight: 500;
}

.query_result {
  user-select: initial;
}

textarea {
	resize : none;
	outline: none;
	border: 1px solid rgb(178,178,178);
	font-size: 15px;
	font-weight: 500;
}

.modal_background_dark {
    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 0, 0, 0, .4 );
    vertical-align: top;
}

body.loading .div_loading {
    display: block;
}

.div_loading {
    display: none;
    position: fixed;
    z-index: 100001;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8 ) url(../images/loading.svg) 50% 50% no-repeat;
}

.white_box {
    border-radius: 3px;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    position: fixed;
    font-size: 12px;
}

.bt_close {
    color: #aaaaaa;
    font-size: 30px;
    text-decoration: none;
    position: absolute;
    right: 5px;
    top: 0;
    cursor: pointer;
    z-index: 1000;
}

.img_close {
    position: absolute;
    right: -20px;
    top: -20px;
    cursor: pointer;
    z-index: 1000;
}

.header {
	margin-bottom: 5px;
	width: 100%;
	height: 25px;
	position: relative;
	background-color: #344E75;
}

.header_menu ul {
	margin:0;
    padding: 0;
	height: 25px;
	line-height: 25px;
    list-style-type: none;
	display: inline-block;
}

.header_menu li {
  margin: 0;
  height: 25px;
  display: table-cell;
  line-height: 25px;
  vertical-align: middle;
}

.header_menu a{
	margin: 0;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
	height: 25px;
	display: inline-block;
	position: relative;
	text-align: center;
	text-decoration: none;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	font-family: sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: white;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

.header_a_selected {
	background-color: rgb(74, 104, 150);
}

.header_menu a:hover {
	background-color: rgb(74, 104, 150);
}

.div_command {
	padding: 10px;
  	border: 1px solid rgb(213, 213, 213);
  	background-color: rgb(247, 247, 247);
}

.div_cmd_result {
	padding: 10px;
	margin-bottom: 10px;
}

.table_conversion {
    margin: 0 auto;
	text-align: center;
}

.table_conversion th {
	width: 150px;
    height: 14px;
    font-size: 1em;
    font-weight: 100;
    border: 1px solid rgb(213, 213, 213);
  background-color: rgb(247, 247, 247);
    padding: 3px 7px 2px 7px;
}

.chart_title {
	font-size: 15px;

}

button {
  background: #fcfcfc;
  background-image: -webkit-linear-gradient(top, #fcfcfc, #eee);
  background-image: -moz-linear-gradient(top, #fcfcfc, #eee);
  background-image: -ms-linear-gradient(top, #fcfcfc, #eee);
  background-image: -o-linear-gradient(top, #fcfcfc, #eee);
  background-image: linear-gradient(to bottom, #fcfcfc, #eee);
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  font-family: Arial;
  color: #333;
  font-size: 13px;
  height: 30px;
  padding-left: 12px;
  padding-right: 12px;
  border: solid #d5d5d5 1px;
  text-decoration: none;
  cursor: pointer;
}

select {
  //-webkit-appearance: none;
  background: #fcfcfc;
  background-image: -webkit-linear-gradient(top, #fcfcfc, #eee);
  background-image: -moz-linear-gradient(top, #fcfcfc, #eee);
  background-image: -ms-linear-gradient(top, #fcfcfc, #eee);
  background-image: -o-linear-gradient(top, #fcfcfc, #eee);
  background-image: linear-gradient(to bottom, #fcfcfc, #eee);
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  font-family: Arial;
  color: #333;
  font-size: 13px;
  height: 30px;
  padding-left: 12px;
  padding-right: 12px;
  border: solid #d5d5d5 1px;
  text-decoration: none;
  cursor: pointer;
}

button:hover {
  background: #f7f7f7;
  background-image: -webkit-linear-gradient(top, #f7f7f7, #e0e0e0);
  background-image: -moz-linear-gradient(top, #f7f7f7, #e0e0e0);
  background-image: -ms-linear-gradient(top, #f7f7f7, #e0e0e0);
  background-image: -o-linear-gradient(top, #f7f7f7, #e0e0e0);
  background-image: linear-gradient(to bottom, #f7f7f7, #e0e0e0);
  text-decoration: none;
}

.bt_blue {
  background: #fcfcfc;
  background-image: -webkit-linear-gradient(top, #E8F1FF, #98B3FF);
  background-image: -moz-linear-gradient(top, #E8F1FF, #98B3FF);
  background-image: -ms-linear-gradient(top, #E8F1FF, #98B3FF);
  background-image: -o-linear-gradient(top, #E8F1FF, #98B3FF);
  background-image: linear-gradient(to bottom, #E8F1FF, #98B3FF);
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  font-family: Arial;
  color: #333;
  font-size: 13px;
  padding: 6px 12px 6px 12px;
  border: solid #97A8F5 1px;
  text-decoration: none;
}

.bt_blue:hover {
  background: #f7f7f7;
  background-image: -webkit-linear-gradient(top, #D3E4FF, #7296FB);
  background-image: -moz-linear-gradient(top, #D3E4FF, #7296FB);
  background-image: -ms-linear-gradient(top, #D3E4FF, #7296FB);
  background-image: -o-linear-gradient(top, #D3E4FF, #7296FB);
  background-image: linear-gradient(to bottom, #D3E4FF, #7296FB);
  text-decoration: none;
}
.bt_red {
  background: #fcfcfc;
  background-image: -webkit-linear-gradient(top, #ff9a9a, #ff4040);
  background-image: -moz-linear-gradient(top, #ff9a9a, #ff4040);
  background-image: -ms-linear-gradient(top, #ff9a9a, #ff4040);
  background-image: -o-linear-gradient(top, #ff9a9a, #ff4040);
  background-image: linear-gradient(to bottom, #ff9a9a, #ff4040);
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  font-family: Arial;
  color: #FFF;
  font-size: 13px;
  padding: 6px 12px 6px 12px;
  border: solid #ff6262 1px;
  text-decoration: none;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
}

.bt_red:hover {
  background: #f7f7f7;
  background-image: -webkit-linear-gradient(top, #ff6767, #ff0d0d);
  background-image: -moz-linear-gradient(top, #ff6767, #ff0d0d);
  background-image: -ms-linear-gradient(top, #ff6767, #ff0d0d);
  background-image: -o-linear-gradient(top, #ff6767, #ff0d0d);
  background-image: linear-gradient(to bottom, #ff6767, #ff0d0d);
  text-decoration: none;
}

.pie-legend {
    text-align: left;
    list-style-type: none;
}

.pie-legend li span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

.legend_chart {
	position: absolute;
	top: 0px;
}

.div_alert_text {
	text-align: center;
	margin-top: 20px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.div_alert_buttons {
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 0px;
	margin-bottom: 10px;
}

.img_ht {
	vertical-align: middle;
  cursor: pointer;
}

.txt_readonly {
	background-color: #EAEAEA;
}

.conversion_table {
	margin-left: auto;
	margin-right: auto;
}

.conversion_table th, .conversion_table td {
	text-align: center;
	width: 100px;
}

.progress { position:relative; width: 98%; height: 16px; background-color: #F9F9F9; border: 1px solid #ABABAB; border-radius: 3px; text-align: center; margin-top: 2px; margin-bottom: 2px;}

.bar_yellow { background-color: #FDEA9F; width:0%; height:16px; border-radius: 0px; }

.bar_green { background-color: #AAE2A0; width:0%; height:16px; border-radius: 0px; }

.percent { position:absolute; top:0px; font-size: 11px; line-height: 16px; width: 100%; height: 20px;}

a.modal-closer {
	position: absolute;
    display: block;
    width: 25px;
    height: 25px;
    right: -15px;
    top: -15px;
    cursor: pointer;
    z-index: 1000;
    border-radius: 20px;
    color: #ffffff;
    border: 1px solid #4d6d9d;
    background-color: #74a1e5;
    text-align: center;
    line-height: 23px;
    font-size: 16px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: 500;
}
a.modal-closer:hover {
    background-color: #ffffff;
    color: #74a1e5;
    border-color: #74a1e5;
}
.even_tr {
	background-color: rgb(234, 237, 249);
}

.changed_input {
	/*background-color: rgb(255, 251, 215);*/
}

#div_chat {
	border: 1px solid #c3c3c3;
	border-radius: 3px;
	position: fixed;
	bottom: 0px;
	right: 0px;
	margin-right: 0px;
	width: 500px;
	box-sizing: border-box;
	z-index: 100000;
}

#div_chat_header {
	cursor: pointer;
    font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans;
    margin: 0px;
    padding: 0px;
	height: 25px;
	width: 100%;
	text-align: center;
	box-sizing: border-box;
	line-height: 25px;
	color: white;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom: 1px solid #c3c3c3
    font-weight: bold;
    font-size: 14px;
}

#div_chat_details {
	height: 315px;
	transition: height 0.5s;
}

#div_chat_right_panel {
	height: 100%;
	width: 74.8%;
	float: right;
}

#div_chat_left_panel {
	height: 100%;
	width: 25%;
	float: left;
	border-right: 1px solid #c3c3c3;
	background: #f6f6f6;
	overflow-y: auto;
}

#div_chat_content {
	height: 83.33%;
	width: 100%;
	text-align: left;
	overflow-y: scroll;
	overflow-x: hidden;
	box-sizing: border-box;
	background: #f6f6f6;
	color: #4D4D4C;
}

#div_chat_footer {
	height: 16.67%;
	width: 100%;
	box-sizing: border-box;
	border-top: 1px solid #c3c3c3;
	border-radius: 3px;
	position: relative;
	background: #f6f6f6;
}

#textarea_chat_message {
	font-size: 14px;
	font-weight: normal;
	resize: none;
	overflow-y: scroll;
	width: 80%;
	position: absolute;
	height: 70%;
	top: 10%;
	left: 5px;
}

#button_chat_send_message {
	position: absolute;
	right: 1.0%;
	top: 20%;
	height: 60%;
}

.div_message {
	margin: 2.5px 0px;
}

.div_message_user {
	font-weight: bold;
	margin-left: 5px;
	display: inline-block;
}

.div_message_time {
	color: #9e9ea6;
	margin-left: 5px;
	margin-right: 5px;
	display: inline-block;
}

.div_message_text {
	word-wrap: break-word;
	margin-left: 10px;
	margin-right: 5px;
	-moz-user-select: text;
   -khtml-user-select: text;
   -webkit-user-select: text;
   -o-user-select: text;
   user-select: text;
}

.div_message_image {
	margin-left: 10px;
	margin-right: 5px;
	width: 100%;
	height: 150px;
	border: 1px solid transparent;
	border-radius: 5px;
	box-sizing: border-box;
	cursor: pointer;
	background-repeat: no-repeat;
}

.div_message_image:hover {
	opacity: 0.1;
	border: 1px solid white;
}

.div_user {
	width: 100%;
	height: 20px;
	border-bottom: 1px solid #c3c3c3;
	padding: 3px 5px;
	box-sizing: border-box;
}

.div_user_name {
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
	margin-right: 5px;
}

.div_user_status {
	display: inline-block;
	margin-right: 5px;
}

.div_user_status > img {
	vertical-align: middle;
}

.div_user_writing {
	width: 15px;
	display: inline-block;
}

.div_user_writing > img {
	vertical-align: middle;
}

.div_chat_header_default {
	background-color: rgb(74, 104, 150);
}

.div_chat_header_blink {
	background-color: rgb(255, 147, 15) !important;
}

.div_show_img {
	width: 100%;
	height: 100%;
	padding: 2.5%;
  cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
	overflow: hidden;
	z-index: 1000000;
	position: absolute;
	top: 0;
  left: 0;
	box-sizing: border-box;
}

.div_container_img {
	width: 100%;
	height: 100%;
  overflow: auto;
	position: relative;
	cursor: pointer;
}

.img_show_img {
	cursor: pointer;
	overflow: hidden;
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

table {
  font-size: 11px;
}

.htContextMenu {
  z-index: 100001 !important;
}
.handsontable table th,
.handsontable table td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 150px;
  vertical-align: middle;
}
.handsontable table td {
  position: relative;
  padding-right: 20px;
}
.handsontable td .htAutocompleteArrow {
  /**/position: absolute;
  /**/right: 0px;
  top: 0px;
  display: inline;
  padding: 0px 2px;
  float: none;
}
