$blue:      #4a6896;
$darkblue:  #344E75;
$red:       #ff4d4d;

$theme_colors: ();

$primary: $blue;
$secondary: $darkblue;

$th_warning: $red;

$theme_colors: map-merge(
  (
  'primary':    $primary,
  'secondary':  $secondary,
  'th_warning': $th_warning
  ),
  $theme_colors
);

$base_animation_timing:   0.35s;
$base_animation_delays:   $base_animation_timing*1.33;
