html {
	position: relative;
	height: 100%;
	height: 100vh;
}
body {
	position: relative;
	margin: 0px;
	height: 100%;
	height: 100vh;
	font-family: monospace;
	background-color: #F2F2F2;
}
#loading_interface {
	position: absolute;
	display: table;
	top: 10%;
	bottom: 10%;
	right: 0;
	left: 0;
	width: 480px;
	max-width: 100%;
	margin: auto;
	box-sizing: border-box;
	background-color: #FFFFFF;
	box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.07);
	border-radius: 3px;
}
#loading_interface .loginWrap {
	padding: 10px;
	text-align: center;
}
#loading_interface .div_time {
	display: inline-block;
}
#loading_interface .version {
	padding-right: 134px;
	text-align: right;
}
#loading_interface small {
	display: inline-block:
}
#loading_interface .inputWrap {
	position: relative;
  display: block;
  margin: 30px 0px;
  height: 200px;
  padding: 2px;
  background-color: #fbfbfb;
  border: 1px solid rgba(0,0,0,0.2);
	text-align: left;
	overflow-y: scroll;
}
#loading_interface #user_title {
	content: "user";
}
#loading_interface #pwd_title {
	content: "password";
}
#loading_interface input {
	display: block;
	margin-left: 40px;
	padding: 14px 8px 6px 14px;
	width: 220px;
	font-family: monospace;
	color: #839ec7;
	background-color: #fbfbfb;
	box-sizing: border-box;
	border-left: 2px solid #5d9eff;
	border-top: 2px solid #FFFFFF;
	border-right: 2px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}
#loading_interface input::placeholder {
	color: #c2c2c2;
}

#views {
	height: 100%;
}
