

.table-resultset td {
    white-space: pre-wrap;
}

/* explain plan */
.explain-plan-toolbar{
    margin-top: 10px;
    margin-bottom: 10px;
}

.explain-plan-cte-record{
    color: #da8814;
}

.explain-plan-header-title{
}

.explain-plan-node-title{
}

.explain-plan-node-arrow{
    cursor: pointer;
}

.explain-plan-node-arrow-hidden{
    font-size: 0;
    color: rgba(0,0,0,0);
}

.explain-plan-node-skipped-note{
    font-size: 0;
    color: rgba(0,0,0,0);
}

.explain-plan-details{
    font-family: monospace;
}

.explain-plan-rownum-switch{
    cursor: pointer;
}

.explain-plan-view-switcher{
    cursor: pointer;
    margin-left: 10px;
}

.explain-plan-mount-div{
    width: 100%;
    height: 400px;
}

.explain-plan-tree-circle{
    stroke: black;
    fill: yellowgreen;
}

.explain-plan-tree-circle-never-executed{
    fill: rgba(51, 122, 183, 1);
}

.explain-plan-tree-node-text{
    fill: black;
}

.explain-plan-tree-link{
    stroke: black;
}

.explain-plan-cte-link{
    stroke: #f89406;
}


/* SVG */

path.link{
    fill: none;
}

/* */
