<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <sessionState mode="InProc" cookieless="false" timeout="1440" cookieName="OmniDB_SessionId" />
    <httpRuntime executionTimeout="86400" maxRequestLength="2097151" />
    <customErrors mode="Off" />
    <compilation>
      <assemblies>
      </assemblies>
    </compilation>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <appSettings>
    <add key="OmniDB.Database" value="databases/tool_database" />
    <add key="OmniDB.Version" value="OmniDB v1.6 Beta" />
    <add key="OmniDB.Timeout.oracle" value="0" />
    <add key="OmniDB.Timeout.postgresql" value="0" />
    <add key="OmniDB.Timeout.mysql" value="0" />
    <add key="OmniDB.Timeout.firebird" value="0" />
    <add key="OmniDB.Timeout.sqlite" value="0" />
    <add key="OmniDB.Timeout.sqlserver" value="0" />
    <add key="OmniDB.Timeout.access" value="0" />
    <add key="OmniDB.Timeout.sqlce" value="0" />
    <add key="OmniDB.Timeout.mariadb" value="0" />
    <add key="OmniDB.ExportedFilesFolder" value="exported_files" />
    <add key="OmniDB.ExportedCSVDelimiter" value="" />
    <add key="OmniDB.ExportedCSVSeparator" value=";" />
    <add key="OmniDB.Keybind.Execute" value="Ctrl-Q" />
    <add key="OmniDB.Keybind.ExecuteMac" value="Command-Q" />
    <add key="OmniDB.Keybind.Replace" value="Ctrl-G" />
    <add key="OmniDB.Keybind.ReplaceMac" value="Command-G" />
  </appSettings>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147482624" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
